
@model LifeOne.Models.HomeManagement.HEntity.Contact
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .appear-animate {
        visibility: visible !important;
        opacity: 1;
    }
</style>
<main class="main">
    <div class="page-header" style="background-image: url(/Content/NewAssests/images/page-header/contact-us.jpg) ">
        <h1 class="page-title font-weight-bold text-capitalize ls-l">About</h1>
        <nav class="breadcrumb-nav">
            <ul class="breadcrumb">
                <li><a href="/Home/Index"><i class="d-icon-home"></i> <i class="bi bi-chevron-right"></i></a></li>
                <li>About</li>
            </ul>
        </nav>
    </div>
            <div class="page-content mt-7">
                <!-- End About Section-->
                <section class="customer-section pb-10 appear-animate">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 px-xxl-18 mt-12 mt-lg-0" style="text-align:justify;">
                                @*<img class="lazy-image img-fluid lazy-image" src="#" data-src="/Content/WebsiteCss/assets/images/background/bg-about-02.jpg" width="500" alt style="margin-right:25px;float:left;">*@
                                <h2 class="mb-8">About Glowing</h2>
                                <p>
                                    Lifeone Wellness Pvt Ltd Established In 2024 With An Impact Full
                                    Provison Of Health, Wealth Happiness. Today With Immense
                                    Inescapable Response Of Our Team, We Have Been Exploding As One Of
                                    The Successfully Direct Selling Companies In India.
                                </p>
                                <p>
                                    Lifeone Wellness Working With Robust Network Of Corporate
                                    Magnificent Service Product With Spectacular Packaging In Budget
                                    Friendly Pricing Top Of The Line Health Benefits For Its Allegiance
                                    Customer With A Remarkable Rewarding Business Plan Band Together
                                    With World Class Training Programme.
                                </p>
                                <p>
                                    LIFEONE WELLNESS Onset In 2024 From Lucknow (The Constantinople Of
                                    India), With A Determination To Own Progressive Quest To Expand Its
                                    Operational Base Across India.
                                </p>
                                <p>
                                    Lifeone Wellness Lifeone Deliver Premium Wellness Products With
                                    Authenticate Ingredients At An Affordable Price That Would Give
                                    Desired Health Results For Its Valued Customers.
                                </p>
                                <p>
                                    Swiftly, Lifeone Wellness Is Coming Out As Successful In Gaining People s
                                    Trust As Its Products Were Highly Appreciated Direct Selling Is A
                                    Strikingly Fair, Democratic, Socially Responsible System Of Generating
                                    Wealth. It s About Fulfilling People s Needs, Dreams Aspirations.
                                </p>
                                <p>
                                    Lifeone Wellness Emphasizes Strongly In Building The Well Being Of It s
                                    Distributors, Customers, Partners Staff. Products, Platform, People’s,
                                    Plan The Culture Of Lifeone Wellness Spirals From The Core Values
                                    Solidarity Of Our Founders In Connecting People On A Heart To Heart
                                    Level. As A Result Family Of Distributors, Customers, Partners Staff
                                    Experience Rewarding Relationships Based On Mutual Respect, Care,
                                    Trust Love.
                                </p>
                                <p>
                                    Everyone Who Wants To Be An Entrepreneur Should Take A Look At
                                    Direct Selling Business. “Some Of The Biggest Fortune 500 Companies,
                                    Such As Citibank, Avon, Levis Smith Barney, Distribute Their Products
                                    Through A Direct Sales System.”
                                </p>
                                <p>
                                    Lifeone Believe That Building A Business Alone Is Not About You, Its
                                    About Other People, Its About Your Team, Your Customers, Your
                                    Mentor How Well You Can Learn Apply From Them. Lifeone With An
                                    Excellent Business Opportunity That Has Multiple Wow – Factors
                                    Profoundly Committed To Continue Launching Innovative value For
                                    Money On An Ongoing Basis Reach Out To Every Household Across
                                    India.
                                </p>
                                <p>
                                    Come Join Hands To Take Forward Our Corporate Mission
                                    Experience The Bliss Of Limitless Personal Fulfilment Professional
                                    Accomplishments With Time Financial Freedom.
                                </p>
                                <p>
                                    Let Us Create A Unceasing Consumer Revolution In India.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Customer Section -->

                <section class="brand-section grey-section pt-10 pb-10 appear-animate">
                    <div class="container mt-8 mb-10">
                        <h5 class="section-subtitle lh-2 ls-md font-weight-normal mb-1 text-center">04. Our Clients</h5>
                        <h3 class="section-title lh-1 font-weight-bold text-center mb-5">Popular Brands</h3>
                        <div class="container counter text-center">
                            <h1>Comming soon...</h1>                           
                        </div>
                        @*<div class="owl-carousel owl-theme row cols-xl-6 cols-lg-5 cols-md-4 cols-sm-3 cols-2"
             data-owl-options="{
            'nav': false,
            'dots': false,
            'autoplay': true,
            'margin': 20,
            'responsive': {
                '0': {
                    'items': 2
                },
                '576': {
                    'items': 3
                },
                '768': {
                    'items': 4
                },
                '992': {
                    'items': 5
                },
                '1200': {
                    'items': 6
                }
            }
        }">
            <figure class="brand-wrap bg-white banner-radius">
                <img src="images/brands/1.png" alt="Brand" width="180" height="100" />
            </figure>
            <figure class="brand-wrap bg-white banner-radius">
                <img src="images/brands/2.png" alt="Brand" width="180" height="100" />
            </figure>
            <figure class="brand-wrap bg-white banner-radius">
                <img src="images/brands/3.png" alt="Brand" width="180" height="100" />
            </figure>
            <figure class="brand-wrap bg-white banner-radius">
                <img src="images/brands/4.png" alt="Brand" width="180" height="100" />
            </figure>
            <figure class="brand-wrap bg-white banner-radius">
                <img src="images/brands/5.png" alt="Brand" width="180" height="100" />
            </figure>
            <figure class="brand-wrap bg-white banner-radius">
                <img src="images/brands/6.png" alt="Brand" width="180" height="100" />
            </figure>
        </div>*@
                    </div>
                </section>

                <section class="team-section pt-8 mt-10 pb-10 mb-6 appear-animate">
                    <div class="container">
                        <h5 class="section-subtitle lh-2 ls-md font-weight-normal mb-1 text-center">04. Our Leaders</h5>
                        <h3 class="section-title lh-1 font-weight-bold text-center mb-5">Meet our team</h3>
                        <div class="container counter text-center">
                            <h1>Comming soon...</h1>
                        </div>
                        @*<div class="row cols-sm-2 cols-md-4">
                            <div class="member appear-animate" data-animation-options="{'name': 'fadeInLeftShorter'}">
                                <figure class="banner-radius">
                                    <img src="images/subpages/team1.jpg" alt="team member" width="280" height="280"
                                         style="background-color: #EEE;">
                                    <div class="overlay social-links">
                                        <a href="#" class="social-link social-facebook fab fa-facebook-f"></a>
                                        <a href="#" class="social-link social-twitter fab fa-twitter"></a>
                                        <a href="#" class="social-link social-linkedin fab fa-linkedin-in"></a>
                                    </div>
                                </figure>
                                <h4 class="member-name">Tomasz Treflerzan</h4>
                                <h5 class="member-job">Ceo / Founder</h5>
                            </div>
                            <div class="member appear-animate"
                                 data-animation-options="{'name': 'fadeInLeftShorter', 'delay': '.3s'}">
                                <figure class="banner-radius">
                                    <img src="images/subpages/team2.jpg" alt="team member" width="280" height="280"
                                         style="background-color: #121A1F;">
                                    <div class="overlay social-links">
                                        <a href="#" class="social-link social-facebook fab fa-facebook-f"></a>
                                        <a href="#" class="social-link social-twitter fab fa-twitter"></a>
                                        <a href="#" class="social-link social-linkedin fab fa-linkedin-in"></a>
                                    </div>
                                </figure>
                                <h4 class="member-name">Dylan Chavez</h4>
                                <h5 class="member-job">Support manager / founder</h5>
                            </div>
                            <div class="member appear-animate"
                                 data-animation-options="{'name': 'fadeInLeftShorter', 'delay': '.4s'}">
                                <figure class="banner-radius">
                                    <img src="images/subpages/team3.jpg" alt="team member" width="280" height="280"
                                         style="background-color: #E8E7E3;">
                                    <div class="overlay social-links">
                                        <a href="#" class="social-link social-facebook fab fa-facebook-f"></a>
                                        <a href="#" class="social-link social-twitter fab fa-twitter"></a>
                                        <a href="#" class="social-link social-linkedin fab fa-linkedin-in"></a>
                                    </div>
                                </figure>
                                <h4 class="member-name">Viktoriia Demianenko</h4>
                                <h5 class="member-job">Designer</h5>
                            </div>
                            <div class="member appear-animate"
                                 data-animation-options="{'name': 'fadeInLeftShorter', 'delay': '.5s'}">
                                <figure class="banner-radius">
                                    <img src="images/subpages/team4.jpg" alt="team member" width="280" height="280"
                                         style="background-color: #465D7F;">
                                    <div class="overlay social-links">
                                        <a href="#" class="social-link social-facebook fab fa-facebook-f"></a>
                                        <a href="#" class="social-link social-twitter fab fa-twitter"></a>
                                        <a href="#" class="social-link social-linkedin fab fa-linkedin-in"></a>
                                    </div>
                                </figure>
                                <h4 class="member-name">Mikhail Hnatuk</h4>
                                <h5 class="member-job">Support</h5>
                            </div>
                        </div>*@
                    </div>
                </section>
                <!-- End Team Section -->
            </div>
</main>




