
@{
    ViewBag.Title = "BusinessPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .img-border {
        border: 4px solid #f1f1f1;
        margin: 0px 0px 10px 0;
        border-radius: 5px;
    }
</style>
<main class="main">
    <div class="page-header" style="background-image: url(/Content/NewAssests/images/page-header/contact-us.jpg) ">
        <h1 class="page-title font-weight-bold text-capitalize ls-l">Business Plan</h1>
        <nav class="breadcrumb-nav">
            <ul class="breadcrumb">
                <li><a href="/Home/Index"><i class="d-icon-home"></i> <i class="bi bi-chevron-right"></i></a></li>
                <li>Business Plan</li>
            </ul>
        </nav>
    </div>
    <div class="page-content">
        <section class="intro-section">
            <div class="page-content  pt-8">
                <section class="about-section pb-10 appear-animate">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-000.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0001.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0002.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0003.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0004.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0005.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0006.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0007.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0008.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0009.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0010.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0011.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0012.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0013.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0014.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0015.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0016.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0017.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0018.jpg" />
                            </div>
                            <div class="col-md-12 img-border">
                                <img src="~/Content/NewAssests/images/business-plan/Business_page-0019.jpg" />
                            </div>
                            <div class="col-lg-12 text-center mt-4">
                                <a href="~/Content/NewAssests/images/Business.pdf" target="_blank" class="btn btn-primary">
                                    Download PDF
                                </a>
                            </div>
                        </div>
                    </div>

                </section>
                <!-- End About Section-->
            </div>
        </section>
    </div>

</main>

