
@model LifeOne.Models.HomeManagement.HEntity.FAQModel
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .py-40 {
        padding: 60px 0;
    }

    .accordion {
        max-width: 100%;
        background: #0097a7;
        margin: 0 auto;
        border-radius: 3px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .heading {
        color: #FFF;
        font-size: 16px;
        border-bottom: 1px solid #e7e7e7;
        letter-spacing: 0.8px;
        padding: 15px;
        cursor: pointer;
        position: relative;
        background-color: #009845;
    }

        .heading:hover {
            background: #02aa1b;
        }

        .heading::before {
            content: '';
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            border-top: 7px solid #f5f5f5;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            transition: transform 0.5s;
        }

        .heading.active::before {
            transform: translateY(-50%) rotate(-180deg);
        }

    .contents {
        display: none;
        background: #FFFAFA;
        padding: 15px;
        color: #7f8fa4;
        font-size: 18px;
        line-height: 1.5;
    }

        .contents active {
            display: block;
        }
</style>
<main class="main">
    <div class="page-header" style="background-image: url(/Content/NewAssests/images/page-header/contact-us.jpg)">
        <h1 class="page-title font-weight-bold text-capitalize ls-l">FAQ's</h1>
        <nav class="breadcrumb-nav">
            <ul class="breadcrumb">
                <li><a href="/Home/Index"><i class="d-icon-home"></i> <i class="bi bi-chevron-right"></i></a></li>
                <li>FAQ's</li>
            </ul>
        </nav>
    </div>
    <div class="page-content">
        <section class="customer-section appear-animate py-40">
            <div class="container">
                @{
                    if (Model != null)
                    {
                        <h2>Regarding Uploading Of KYC Documents</h2>
                        if (Model.dtDetails != null)
                        {
                            for (int i = 0; i < Model.dtDetails.Rows.Count; i++)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="accordion">
                                            <div class="heading">Question @(i+1): @Model.dtDetails.Rows[i]["Question"].ToString() </div>
                                            <div class="contents active">
                                                Answer:@Model.dtDetails.Rows[i]["Answer"].ToString()
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            </div>
        </section>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        debugger
        $(".accordion").on("click", ".heading", function () {
            // Toggle the current heading and content
            $(this).toggleClass("active").next(".contents").slideToggle(300);

            // Close other contents and remove the active class from other headings
            $(".contents").not($(this).next()).slideUp(300);
            $(".heading").not(this).removeClass("active");
        });
    });
</script>




