@model LifeOne.Models.HomeManagement.HEntity.MLogin
@{

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Match OTP</title>
</head>
<body>
    <div class="site-main">
        <div class="ttm-row login-12 padding-section">
            <div class="container">
                <div class="col-md-12">
                    <div class="row login-box-12">
                        <div class="col-lg-7 col-sm-12 col-pad-0 align-self-center">
                            <div class="login-inner-form">
                                <div class="details">
                                    <h3>Verify OTP</h3>
                                    @using (Html.BeginForm("MatchOTPEmployee", "Home", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            @Html.TextBoxFor(Model => Model.OTP, new { @class = "input-text only-numeric", @placeholder = "Enter OTP", @maxlength = "10" })
                                            <span class="small">@Html.ValidationMessageFor(Model => Model.OTP, "", new { @class = "text-danger" })</span>
                                        </div>
                                        @Html.HiddenFor(Model => Model.Login)


                                        <div class="form-group">
                                            <div class="text-right mb-1"><a id="btnReSendOTP" href="javascript:void(0)" onclick="getOTP()">Resend OTP</a></div>
                                            <input type="button" onclick="matchOTP()" name="sign-in" class="ttm-btn ttm-btn-size-md ttm-btn-bgcolor-skincolor btn-block" value="Verify OTP" />
                                        </div>
                                    }
                                    <p id="pMessage"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12 col-pad-0 bg-img align-self-center none-992">
                            <div class="content">
                                <ul>
                                    <li>
                                        <span class="text">
                                            <img src="~/Content/home-assets/img/leftSectionImg1.svg" class="lock">
                                            Fast &amp; Secure Payments
                                        </span>
                                    </li>
                                    <li>
                                        <span class="text">
                                            <img src="~/Content/home-assets/img/leftSectionImg2.svg" class="lock">
                                            A secure payment gateway to pay online safely
                                        </span>
                                    </li>
                                    <li>
                                        <span class="text">
                                            <img src="~/Content/home-assets/img/leftSectionImg3.svg" class="lock">
                                            Pay at over million merchant network
                                        </span>
                                    </li>
                                    <li>
                                        <span class="text">
                                            <img src="~/Content/home-assets/img/leftSectionImg4.svg" class="lock">
                                            Amazing deals on all products
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(".only-numeric").bind("keypress", function (e) {
        var keyCode = e.which ? e.which : e.keyCode
        if (!(keyCode >= 48 && keyCode <= 57)) {
            //swal("", "Please enter numeric digit only", "warning");
            return false;
        }
        return true;
    });
    function matchOTP() {
         if ($("#Login").val() == "") {
            $("#pMessage").html("Please Enter UserId Or MobileNo.");
            return false;
        }
          if ($("#OTP").val() == "") {
            $("#pMessage").html("Please Enter OTP");
            return false;
        }
        debugger
        var UserId = $("#Login").val();
        var otp = $("#OTP").val();
        $.ajax({
            url: '/Home/VerifyOTP',
            type: "GET",
            dataType: "JSON",
            data: { UserId: UserId, OTP: otp },
            success: function (data) {
                debugger;
                if (data.Flag == "1") {
                    window.location.href = "/Admin-Dashboard"
                    $("#pMessage").html("");
                } else {

                    $("#pMessage").html(data.Msg);

                }
            }
        });
    }

    function getOTP() {
         if ($("#Login").val() == "") {
            $("#pMessage").html("Please Enter UserId Or MobileNo.");
            return false;
        }
        $.ajax({
            url: '/Home/GetOTPForEmployee',
            type: "GET",
            dataType: "JSON",
            data: { UserId: $("#Login").val() },
            success: function (data) {
                if (data.Flag == "1") {
                    $("#pMessage").html("OTP Sent to your Mobile No. and is valid for 4 Hours");
                } else {
                    $("#pMessage").html(data.Msg);
                }
            }
        });
    }
</script>