
@model LifeOne.Models.HomeManagement.HEntity.Contact
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table thead tr th{
        background: #177740 !important;
        color:#fff !important;
    }
</style>
<main class="main">
    <div class="page-header" style="background-image: url(/Content/NewAssests/images/page-header/contact-us.jpg) ">
        <h1 class="page-title font-weight-bold text-capitalize ls-l">News & Announcement</h1>
        <nav class="breadcrumb-nav">
            <ul class="breadcrumb">
                <li><a href="/Home/Index"><i class="d-icon-home"></i> <i class="bi bi-chevron-right"></i></a></li>
                <li>News & Announcement</li> 
            </ul>
        </nav>
    </div>
            <div class="page-content mt-7">
                <!-- End About Section-->
                <section class="customer-section pb-10 appear-animate">
                    <div class="container">
                        <div class="table table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Heading</th>
                                        <th>News & Announcement</th>
                                        <th>Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td></td>
                                        <td></td>
                                        <td><img width="100" height="100" src="" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
              
            
            </div>
</main>




