
@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <div class="page-header" style="background-image: url(/Content/NewAssests/images/page-header/contact-us.jpg) ">
        <h1 class="page-title font-weight-bold text-capitalize ls-l">Video</h1>
        <nav class="breadcrumb-nav">
            <ul class="breadcrumb">
                <li><a href="/Home/Index"><i class="d-icon-home"></i> <i class="bi bi-chevron-right"></i></a></li>
                <li>Video</li>
            </ul>
        </nav>
    </div>
     <div class="text-center my-5">
            <h1>Comming Soon</h1>
     </div>   
</main>




