################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LifeOne/.vs
/LifeOne/bin
/LifeOne/obj/Debug
/LifeOne/packages
/LifeOne/Properties
/packages
