################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LifeOne/.vs
/LifeOne/bin
/LifeOne/obj/Debug
/LifeOne/packages
/LifeOne/Properties
/packages
.vs/Lifeone/v17/.wsuo
.vs/Lifeone/FileContentIndex/39088fdc-8233-4fd1-963f-2ff9823a00b9.vsidx
.vs/Lifeone/FileContentIndex/b2886c69-bd15-4e19-afb5-e3e7c5616088.vsidx
.vs/Lifeone/FileContentIndex/ebe7e956-1ac6-4c72-b1e2-959fe4cadbaa.vsidx
.vs/Lifeone/v17/.suo
.vs/Lifeone/FileContentIndex/4e37f2f3-4003-4ece-88ea-d9710eb153bc.vsidx
*.vsidx
/.vs/Lifeone/v17
.vs/Lifeone/v17/DocumentLayout.json
/.vs/Lifeone/v17
.vs/Lifeone/v17/DocumentLayout.json
/.vs/LifeOne/config/applicationhost.config
