################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LifeOne/.vs
/LifeOne/bin
/LifeOne/obj/Debug
/LifeOne/packages
/LifeOne/Properties
/packages
*.vsidx
.vs/LifeOne/v17/.suo
.vs/LifeOne/v17/DocumentLayout.json
.vs/LifeOne/v17/fileList.bin
