
@model LifeOne.Models.HomeManagement.HEntity.Contact
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="content" class="wrapper layout-page">
    <div class="bg-body-secondary py-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-site py-0 d-flex justify-content-center">
                <li class="breadcrumb-item">
                    <a class="text-decoration-none text-body" href="/Home/Index">Home</a>
                </li>
                <li class="breadcrumb-item active pl-0 d-flex align-items-center" aria-current="page">About Us</li>
            </ol>
        </nav>
    </div>
   
    <section class="py-lg-12">
        <div class="container container-xxl">

            <div class="row">
                <div class="col-lg-12 px-xxl-18 mt-12 mt-lg-0" style="text-align:justify;">
                    @*<img class="lazy-image img-fluid lazy-image" src="#" data-src="/Content/WebsiteCss/assets/images/background/bg-about-02.jpg" width="500" alt style="margin-right:25px;float:left;">*@
                    <h2 class="mb-8">About Glowing</h2>
                    <p>
                        Lifeone Wellness Pvt Ltd Established In 2024 With An Impact Full
                        Provison Of Health, Wealth Happiness. Today With Immense
                        Inescapable Response Of Our Team, We Have Been Exploding As One Of
                        The Successfully Direct Selling Companies In India.
                    </p>
                    <p>
                        Lifeone Wellness Working With Robust Network Of Corporate
                        Magnificent Service Product With Spectacular Packaging In Budget
                        Friendly Pricing Top Of The Line Health Benefits For Its Allegiance
                        Customer With A Remarkable Rewarding Business Plan Band Together
                        With World Class Training Programme.
                    </p>
                    <p>
                        LIFEONE WELLNESS Onset In 2024 From Lucknow (The Constantinople Of
                        India), With A Determination To Own Progressive Quest To Expand Its
                        Operational Base Across India.
                    </p>
                    <p>
                        Lifeone Wellness Lifeone Deliver Premium Wellness Products With
                        Authenticate Ingredients At An Affordable Price That Would Give
                        Desired Health Results For Its Valued Customers.
                    </p>
                    <p>
                        Swiftly, Lifeone Wellness Is Coming Out As Successful In Gaining People s
                        Trust As Its Products Were Highly Appreciated Direct Selling Is A
                        Strikingly Fair, Democratic, Socially Responsible System Of Generating
                        Wealth. It s About Fulfilling People s Needs, Dreams Aspirations.
                    </p>
                    <p>
                        Lifeone Wellness Emphasizes Strongly In Building The Well Being Of It s
                        Distributors, Customers, Partners Staff. Products, Platform, People’s,
                        Plan The Culture Of Lifeone Wellness Spirals From The Core Values
                        Solidarity Of Our Founders In Connecting People On A Heart To Heart
                        Level. As A Result Family Of Distributors, Customers, Partners Staff
                        Experience Rewarding Relationships Based On Mutual Respect, Care,
                        Trust Love.
                    </p>
                    <p>
                        Everyone Who Wants To Be An Entrepreneur Should Take A Look At
                        Direct Selling Business. “Some Of The Biggest Fortune 500 Companies,
                        Such As Citibank, Avon, Levis Smith Barney, Distribute Their Products
                        Through A Direct Sales System.”
                    </p>
                    <p>
                        Lifeone Believe That Building A Business Alone Is Not About You, Its
                        About Other People, Its About Your Team, Your Customers, Your
                        Mentor How Well You Can Learn Apply From Them. Lifeone With An
                        Excellent Business Opportunity That Has Multiple Wow – Factors
                        Profoundly Committed To Continue Launching Innovative value For
                        Money On An Ongoing Basis Reach Out To Every Household Across
                        India.
                    </p>
                    <p>
                        Come Join Hands To Take Forward Our Corporate Mission
                        Experience The Bliss Of Limitless Personal Fulfilment Professional
                        Accomplishments With Time Financial Freedom.
                    </p>
                    <p>
                        Let Us Create A Unceasing Consumer Revolution In India.
                    </p>
                    @*<div class="row">
                            <div class="col-md-6">
                                <div class="d-flex align-items-start justify-content-center">
                                    <div class="d-none">
                                        <svg class="icon fs-2">
                                            <use xlink:href="#"></use>
                                        </svg>
                                    </div>
                                    <div>
                                        <h3 class="fs-5 mb-6 text-center">Message</h3>
                                        @if (Model != null)
                                        {
                                            <div class="fs-6 text-center">
                                                <p class="mb-6 fs-15px">Send us a text & an ambassador will respond when available.</p> <p class="m-0 fs-6 fw-bold text-primary">@Model.Mobile ,@Model.Mobile2</p>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pt-9 pt-md-0 ">
                                <div class="d-flex align-items-start justify-content-center">
                                    <div class="d-none">
                                        <svg class="icon fs-2">
                                            <use xlink:href="#"></use>
                                        </svg>
                                    </div>
                                    <div>
                                        <h3 class="fs-5 mb-6 text-center">Store Hours</h3>
                                        <div class="fs-6">
                                            <dl class="d-flex mb-0"><dt class="pe-3 fs-6 text-body-emphasis fw-500" style="width: 110px">Mon – Fri:</dt><dd class="mb-0"> 08:30 – 20:00</dd></dl><dl class="d-flex mb-0"><dt class="pe-3 fs-6 text-body-emphasis fw-500" style="width: 110px">Sat & Sun:</dt><dd class="mb-0"> 09:30 – 21:30</dd></dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </section>
    @*<section>
            <div class="container container-xxl">
                <div class="text-center pb-11 pb-lg-14">
                    <h2 class="fs-3 w-lg-40 w-auto mx-auto pb-7">We strive to live with compassion, kindness and empathy</h2>
                    <p class="mw-lg-50 mx-auto">A lot of so-called stretch denim pants out there are just glorified sweatpants – they get baggy and lose their shape. Not cool. Our tightly knitted fabric holds its form after repeated wear. Plus, Aldays dress up or down, no prob. So you can wear them all day. Get it?</p>
                </div>
                <div class="row gy-30px">
                    <div class="col-md-4">
                        <div class>
                            <div class="d-flex justify-content-center">
                                <img class="lazy-image img-fluid light-mode-img" src="#" data-src="/Content/WebsiteCss/assets/images/image-box/image-box-11.png" width="102" height="118" alt="Guaranteed PURE">
                                <img class="lazy-image dark-mode-img img-fluid" src="#" data-src="/Content/WebsiteCss/assets/images/image-box/image-box-white-11.png" width="102" height="118" alt="Guaranteed PURE">
                            </div>
                            <div class="card-body text-center pt-7 mt-3">
                                <h3 class="fs-4 mb-6">Guaranteed PURE</h3>
                                <p class="mb-0 px-lg-6">All Grace formulations adhere to strict purity standards and will never contain harsh or toxic ingredients</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class>
                            <div class="d-flex justify-content-center">
                                <img class="lazy-image img-fluid light-mode-img" src="#" data-src="/Content/WebsiteCss/assets/images/image-box/image-box-02.png" width="102" height="118" alt="Completely Cruelty-Free">
                                <img class="lazy-image dark-mode-img img-fluid" src="#" data-src="/Content/WebsiteCss/assets/images/image-box/image-box-white-02.png" width="102" height="118" alt="Completely Cruelty-Free">
                            </div>
                            <div class="card-body text-center pt-7 mt-3">
                                <h3 class="fs-4 mb-6">Completely Cruelty-Free</h3>
                                <p class="mb-0 px-lg-6">All Grace formulations adhere to strict purity standards and will never contain harsh or toxic ingredients</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class>
                            <div class="d-flex justify-content-center">
                                <img class="lazy-image img-fluid light-mode-img" src="#" data-src="/Content/WebsiteCss/assets/images/image-box/image-box-03.png" width="102" height="118" alt="Ingredient Sourcing">
                                <img class="lazy-image dark-mode-img img-fluid" src="#" data-src="/Content/WebsiteCss/assets/images/image-box/image-box-white-03.png" width="102" height="118" alt="Ingredient Sourcing">
                            </div>
                            <div class="card-body text-center pt-7 mt-3">
                                <h3 class="fs-4 mb-6">Ingredient Sourcing</h3>
                                <p class="mb-0 px-lg-6">All Grace formulations adhere to strict purity standards and will never contain harsh or toxic ingredients</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <section class="pt-lg-10 pt-15">
        <div class="container container-xxl">
            <div class="row gy-30px">
                <div class="col-lg-6">
                    <div class="card border-0 rounded-0 banner-06 hover-zoom-in hover-shine">
                        <img class="lazy-image w-100 card-img object-fit-cover lazy-image" src="#" data-src="/Content/WebsiteCss/assets/images/banner/banner-06.jpg" width="690" height="450" alt><div class="card-img-overlay">
                            <div class="position-absolute top-50 end-0 translate-middle-y px-md-0 px-12">
                                <div class="mt-7"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card border-0 rounded-0 banner-06 hover-zoom-in hover-shine">
                        <img class="lazy-image w-100 card-img object-fit-cover lazy-image" src="#" data-src="/Content/WebsiteCss/assets/images/banner/banner-07.jpg" width="690" height="450" alt><div class="card-img-overlay">
                            <div class="position-absolute top-50 end-0 translate-middle-y px-md-0 px-12">
                                <div class="mt-7"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-lg-18 pt-15 pb-16">
        <div class="container container-xxl">
            <div class="text-center mb-13">
                <h3 class="fs-3 mx-auto mb-9" style="max-width: 483px">
                    We pride ourselves on have a team of highly skilled
                </h3>
                @*<p class="mx-auto" style="max-width: 608px">Not cool. Our tightly knitted fabric holds its form after repeated wear. Plus, Aldays dress up or down, no prob. So you can wear them all day. Get it?</p>*@
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2 style="text-align:center">Comming Soon</h2>
                </div>
            </div>
            @*<div class="slick-slider" data-slick-options="{&quot;slidesToShow&quot;: 4,&quot;dots&quot;:false,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;: 1200,&quot;settings&quot;: {&quot;slidesToShow&quot;: 3,&quot;arrows&quot;:false,&quot;dots&quot;:true}},{&quot;breakpoint&quot;: 768,&quot;settings&quot;: {&quot;slidesToShow&quot;: 2,&quot;arrows&quot;:false,&quot;dots&quot;:true}},{&quot;breakpoint&quot;: 576,&quot;settings&quot;: {&quot;slidesToShow&quot;: 1,&quot;arrows&quot;:false,&quot;dots&quot;:true}}]}">
                    <div>
                        <div class="card border-0 hover-change-image ">
                            <div class="position-relative overflow-hidden">
                                <img class="card-img img-fluid lazy-image" src="#" data-src="/Content/WebsiteCss/assets/images/others/our-team-01.jpg" width="330" height="437" alt="Slava Fedutik">
                                <div class="card-img-overlay border-0 d-flex flex-column p-0 justify-content-end align-items-center">
                                    <ul class="list-inline text-center bg-body-tertiary w-100 hover-image hover-bottom-to-top m-0 px-7 py-5">
                                        <li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-twitter"></i></a></li>
                                        <li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-facebook"></i></a></li>
                                        <li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-instagram"></i></a></li>
                                        <li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body px-0 py-7 text-center">
                                <h4 class>
                                    <a href="#" class="text-decoration-none">Slava Fedutik</a>
                                </h4><p class="card-text">Founder, Chief Creative</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card border-0 hover-change-image ">
                            <div class="position-relative overflow-hidden">
                                <img class="card-img img-fluid lazy-image" src="#" data-src="/Content/WebsiteCss/assets/images/others/our-team-02.jpg" width="330" height="437" alt="Jennifer C.">
                                <div class="card-img-overlay border-0 d-flex flex-column p-0 justify-content-end align-items-center">
                                    <ul class="list-inline text-center bg-body-tertiary w-100 hover-image hover-bottom-to-top m-0 px-7 py-5">
                                        <li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-twitter"></i></a></li>
                                        <li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-facebook"></i></a></li>
                                        <li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-instagram"></i></a></li>
                                        <li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body px-0 py-7 text-center">
                                <h4 class>
                                    <a href="#" class="text-decoration-none">Jennifer C.</a>
                                </h4><p class="card-text">Founder, CEO</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card border-0 hover-change-image ">
                            <div class="position-relative overflow-hidden">
                                <img class="card-img img-fluid lazy-image" src="#" data-src="/Content/WebsiteCss/assets/images/others/our-team-03 (1).jpg" width="330" height="437" alt="Valeriia Nadopta">
                                <div class="card-img-overlay border-0 d-flex flex-column p-0 justify-content-end align-items-center">
                                    <ul class="list-inline text-center bg-body-tertiary w-100 hover-image hover-bottom-to-top m-0 px-7 py-5">
                                        <li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-twitter"></i></a></li>
                                        <li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-facebook"></i></a></li>
                                        <li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-instagram"></i></a></li>
                                        <li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body px-0 py-7 text-center">
                                <h4 class>
                                    <a href="#" class="text-decoration-none">Valeriia Nadopta</a>
                                </h4><p class="card-text">Founder, COO</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card border-0 hover-change-image ">
                            <div class="position-relative overflow-hidden">
                                <img class="card-img img-fluid lazy-image" src="#" data-src="/Content/WebsiteCss/assets/images/others/our-team-04.jpg" width="330" height="437" alt="John Henry">
                                <div class="card-img-overlay border-0 d-flex flex-column p-0 justify-content-end align-items-center">
                                    <ul class="list-inline text-center bg-body-tertiary w-100 hover-image hover-bottom-to-top m-0 px-7 py-5">
                                        <li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-twitter"></i></a></li>
                                        <li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-facebook"></i></a></li>
                                        <li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-instagram"></i></a></li>
                                        <li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body px-0 py-7 text-center">
                                <h4 class>
                                    <a href="#" class="text-decoration-none">John Henry</a>
                                </h4><p class="card-text">Founder, Chief Creative</p>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </section>
</main>