
@{
    ViewBag.Title = "CMD DESK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}  
<main id="content">
    <div class="bg-body-secondary py-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-site py-0 d-flex justify-content-center">
                <li class="breadcrumb-item">
                    <a class="text-decoration-none text-body" href="#">Home</a>
                </li>
                <li class="breadcrumb-item active pl-0 d-flex align-items-center" aria-current="page">Cmd Desk</li>
            </ol>
        </nav>
    </div>        
    <section class="pt-10 pt-lg-13 pb-lg-13 pb-10">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-2 mb-8 mb-md-0 order-first order-md-1" data-animate="x-fadeInLeft">
                    <img width="150" height="150" src="~/home-assets/images/cmd.jpg" alt="Cmd">                   
                </div>
                <div class="col-md-10 px-md-6 pr-xl-14 pl-xl-12 order-1 order-md-first">
                    <h3 class="fs-42 mb-5">CMD DESK :-</h3>                    
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12" style="text-align:justify;">
                    <h4>
                        <blockquote class="text-center">
                            “Nothing Is Impossible, The Word Itself Says ‘I’ m Possible.”
                        </blockquote>
                    </h4>
                    <p>
                        Greatly Influenced Proving This Note To A Great Extent
                        Mr. Saurabh Gupta An Young Idealistic Professional With Many Years Of
                        Experience In Direct Selling Currently Serving As A Entrepreneur And
                        Successful Manufacturer. With Just Fifteen Hundred No Personal Wealth,
                        Motivated Mr. Saurabh Gupta Began His Journey In Direct Selling Industry
                        In 2006.
                    </p>
                    <p>
                        Swiftly He Marked His Name In The Of Real Estate. Soon In Year 2013He
                        Also Exploded As A Manufacturer. But He Knew Direct Selling Is A More
                        Powerful Vehicle To Prepare Minds To Prevent Conflicts In Peoples Life
                        Giving Them Wealthy Healthy Life.
                    </p>
                    <p>
                        He Knows That Life Is Unpredictable With Uncertainties, Pandemic Has
                        Demonstrated It Loud Clear. Whether You Accept It Or Not, We Are
                        Silently A Part Of The So – Called Modern Days Lifestyle That Has Brought In
                        An Unprecedented Assault Of Junk Food, Grave Challenges Of
                        Contaminated Water Severely Polluted Environment.
                    </p>
                    <p>
                        Due To This, Human Health Has Become Fragile. This Kind Of Erratic Living
                        Obviously Invites Lots Of Illnesses Large Amount Of Resources – Time,
                        Money Effort Have Been Spent In Modern Medical Treatment Which May
                        Only Create Further Complications.
                    </p>
                    <p>
                        Our Success Could Not Have Been Possible Without Your Proactive Support.
                        Hence, The Entire Credit Goes To Your Unwavering Support In Our Misson.
                    </p>
                </div>

            </div>
        </div>
    </section>
</main>