@model LifeOne.Models.HomeManagement.HEntity.MCustomerRegistration
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<link href="~/AssociateAssests/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
     Date picker plugins css
    <link href="~/AssociateAssests/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
     Daterange picker plugins css
    <link href="~/AssociateAssests/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/AssociateAssests/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">*@

<div class="page-banner bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
            </div>
        </div>
    </div>
</div>

<!--	Banner
===============================================================-->
<!--	Get In Touch
===============================================================-->
<style>
    .modal-dialog {
        max-width: 800px !important;
    }

    .custom-control {
        padding-right: 1.5rem;
    }

    form {
        margin: 0px auto;
        width: 100%;
    }

    .card {
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 5px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    }

    .card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: #fff;
        border-bottom: 1px solid rgba(0,0,0,.125);
    }

    .head-tiltle {
        padding: 15px;
        line-height: 30px;
        font-size: 21px;
    }


    .wrapper {
        position: relative;
        background-position: top;
        background-size: cover;
        padding-bottom: 100px;
    }


    .dd-box {
        z-index: 999;
        height: 200px;
        width: 397px;
        position: absolute;
        border: none;
        top: 71px;
        margin-left: 1px;
    }

    .list-inline-tab li {
        text-align: left;
    }
</style>

<style>
    .congratulation-content {
        max-width: 500px;
        margin: auto;
        border: 1px solid #ddd;
        padding: 20px;
        -webkit-box-shadow: -1px 0px 22px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 0px 22px -9px rgba(0,0,0,0.75);
        box-shadow: -1px 0px 22px -9px rgba(0,0,0,0.75);
    }

    .list-inline-tab li {
        margin: auto;
    }
</style>

<section class="pb-11 pb-lg-15 pt-15">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-10 mx-auto">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="wrapper-thanks">
                           
                            <div class="clearfix text-center">
                                <div class="animated-gif"><img src="~/Content/assests/images/check-circle.gif" alt=""></div>
                                <h2 class="big-green">Congratulations !!</h2>
                                <h3>Now you are Lifeone Associates</h3>
                                <h5>Your account for <span style="color: #417d0a; font-style:italic;">@ViewBag.LoginId</span> was successfully created.</h5>
                                <div class="account-info clearfix">
                                    <div class="clearfix text-left">
                                        <div class="col-md-12 account-info-text text-center">

                                            <div class="col-md-12 account-info-text text-center">
                                                <p class="heading"><b>Account Information</b></p>
                                                <span class="border-box"><b>Name:@ViewBag.Name</b></span><br />
                                                <span class="border-box"><b>Login ID:@ViewBag.LoginId</b></span><br />
                                                <span class="border-box"><b>Password:@ViewBag.Password</b></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <br>
                                    <h2 class="big-green">Thank You!</h2>
                                    <br>
                                    <a href="/Home/Login" class="btn btn-primary">Login</a>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


