
@{
    ViewBag.Title = "Health Care Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page-title -->
<div class="ttm-page-title-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-box text-center">
                    <div class="page-title-heading">
                        <h1 class="title">Health Care Products</h1>
                    </div>
                </div>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- page-title end-->
<!--site-main start-->
<div class="site-main">
    <!-- affiliate-shopping-section end -->
    <!-- tab-section -->
    <section class="ttm-row tab-section clearfix">
        <div class="container">
            <!-- row -->
            <div class="row multi-columns-row">
                <div class="col-xl-3 col-lg-4 col-md-6 ttm-box-col-wrapper">
                    <div class="featured-imagebox featured-imagebox-portfolio style1">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="~/Content/assests/images/products/1.jpg" alt="image">
                        </div>
                        <div class="ttm-box-view-overlay">
                            <div class="featured-iconbox ttm-media-link">
                                <a class="ttm_prettyphoto ttm_image" data-gal="prettyPhoto[gallery1]" title="" data-rel="prettyPhoto" href="~/Content/assests/images/products/1.jpg"><i class="ti ti-search"></i></a>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Product Name</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ttm-box-col-wrapper">
                    <div class="featured-imagebox featured-imagebox-portfolio style1">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="~/Content/assests/images/products/2.jpg" alt="image">
                        </div>
                        <div class="ttm-box-view-overlay">
                            <div class="featured-iconbox ttm-media-link">
                                <a class="ttm_prettyphoto ttm_image" data-gal="prettyPhoto[gallery1]" title="" data-rel="prettyPhoto" href="~/Content/assests/images/products/2.jpg"><i class="ti ti-search"></i></a>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Product Name</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ttm-box-col-wrapper">
                    <div class="featured-imagebox featured-imagebox-portfolio style1">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="~/Content/assests/images/products/3.jpg" alt="image">
                        </div>
                        <div class="ttm-box-view-overlay">
                            <div class="featured-iconbox ttm-media-link">
                                <a class="ttm_prettyphoto ttm_image" data-gal="prettyPhoto[gallery1]" title="" data-rel="prettyPhoto" href="~/Content/assests/images/products/3.jpg"><i class="ti ti-search"></i></a>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Product Name</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ttm-box-col-wrapper">
                    <div class="featured-imagebox featured-imagebox-portfolio style1">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="~/Content/assests/images/products/4.jpg" alt="image">
                        </div>
                        <div class="ttm-box-view-overlay">
                            <div class="featured-iconbox ttm-media-link">
                                <a class="ttm_prettyphoto ttm_image" data-gal="prettyPhoto[gallery1]" title="" data-rel="prettyPhoto" href="~/Content/assests/images/products/4.jpg"><i class="ti ti-search"></i></a>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Product Name</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ttm-box-col-wrapper">
                    <div class="featured-imagebox featured-imagebox-portfolio style1">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="~/Content/assests/images/products/5.jpg" alt="image">
                        </div>
                        <div class="ttm-box-view-overlay">
                            <div class="featured-iconbox ttm-media-link">
                                <a class="ttm_prettyphoto ttm_image" data-gal="prettyPhoto[gallery1]" title="" data-rel="prettyPhoto" href="~/Content/assests/images/products/5.jpg"><i class="ti ti-search"></i></a>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Product Name</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ttm-box-col-wrapper">
                    <div class="featured-imagebox featured-imagebox-portfolio style1">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="~/Content/assests/images/products/6.jpg" alt="image">
                        </div>
                        <div class="ttm-box-view-overlay">
                            <div class="featured-iconbox ttm-media-link">
                                <a class="ttm_prettyphoto ttm_image" data-gal="prettyPhoto[gallery1]" title="" data-rel="prettyPhoto" href="~/Content/assests/images/products/6.jpg"><i class="ti ti-search"></i></a>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Product Name</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ttm-box-col-wrapper">
                    <div class="featured-imagebox featured-imagebox-portfolio style1">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="~/Content/assests/images/products/7.jpg" alt="image">
                        </div>
                        <div class="ttm-box-view-overlay">
                            <div class="featured-iconbox ttm-media-link">
                                <a class="ttm_prettyphoto ttm_image" data-gal="prettyPhoto[gallery1]" title="" data-rel="prettyPhoto" href="~/Content/assests/images/products/7.jpg"><i class="ti ti-search"></i></a>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Product Name</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ttm-box-col-wrapper">
                    <div class="featured-imagebox featured-imagebox-portfolio style1">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="~/Content/assests/images/products/8.jpg" alt="image">
                        </div>
                        <div class="ttm-box-view-overlay">
                            <div class="featured-iconbox ttm-media-link">
                                <a class="ttm_prettyphoto ttm_image" data-gal="prettyPhoto[gallery1]" title="" data-rel="prettyPhoto" href="~/Content/assests/images/products/8.jpg"><i class="ti ti-search"></i></a>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Product Name</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row end -->
        </div>
    </section>
    <!-- affiliate-shopping-section end -->
</div>
<!--site-main end-->
