
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


  <!-- Start main-content -->
  <div class="main-content-area">
    <!-- Section: page title -->
    <section class="page-title layer-overlay overlay-dark-9 section-typo-light bg-img-center" data-tm-bg-img="home-assets/images/bg/bg1.jpg">
      <div class="container pt-150 pb-50">
        <div class="section-content">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="title">Shop Product</h2>
              <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                <div class="breadcrumbs">
                  <span><a href="#" rel="home">Home</a></span>
                  <span><i class="fa fa-angle-right"></i></span>
                  <span><a href="#">Shop Product</a></span>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <!-- Isotope Filter -->
              <div class="isotope-layout-filter filter-style-4 text-center cat-filter-default text-center" data-link-with="gallery-holder-618422">
                <a href="#" class="active" data-filter="*">All</a>
                <a href="#" class="" data-filter=".cat1">Beauty Product</a>
                <a href="#" class="" data-filter=".cat2">Health Product</a>
                <a href="#" class="" data-filter=".cat3">Aloevera Product</a>
              </div>
              <!-- End Isotope Filter -->

              <!-- Isotope Gallery Grid -->
              <div id="gallery-holder-618422" class="isotope-layout grid-3 gutter-15 clearfix lightgallery-lightbox">
                <div class="isotope-layout-inner">
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat1 ">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <div class="image-swap text-center">
                            <a href="#"><img src="home-assets/images/product/1.png" width="250" alt="product"></a>
                          </div>
                        </div>
                        <div class="product-details">
                          <h5 class="product-title"><a href="#">InstaWhite</a></h5>
                          <p class="mb-0">Instawhite day cream is enriched with licorice and carrot seeds which is known to be a soothing and nourishing agent for skin. </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat1">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <div class="image-swap text-center">
                            <a href="#">
                              <img src="home-assets/images/product/3.png" width="250" alt="product">
                            </a>
                          </div>
                        </div>
                        <div class="product-details">
                          <h5 class="product-title"><a href="#">Night Cream</a></h5>
                          <p class="mb-0">This is an intensive anti aging cream that will renew your complexion while giving you rmer and younger-looking skin.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat1">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <div class="image-swap text-center">
                            <a href="#">
                              <img src="home-assets/images/product/2.png" width="250"  alt="product">
                            </a>
                          </div>
                        </div>
                        <div class="product-details">
                          <h5 class="product-title"><a href="#">Clay Mud Mask</a></h5>
                          <p class="mb-0">Clay Mud Mask is an ideal remedy for acne, blackheads and dull skin. It deep cleanses, exfoliates and extracts toxins to render...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat1">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <div class="image-swap text-center">
                            <a href="#">
                              <img src="home-assets/images/product/4.png" width="250" alt="product">
                            </a>
                          </div>
                        </div>
                        <div class="product-details">
                          <h5 class="product-title"><a href="#">Coffee Scrub</a></h5>
                          <p class="mb-0">This body scrub crafted from Pure Gourmet Coffee. Due to everyday hustle, your skin looks dull, feels suffocated by the pollution...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat3">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <div class="image-swap text-center">
                            <a href="#">
                              <img src="home-assets/images/product/5.png" width="250" alt="product">
                            </a>
                          </div>
                        </div>
                        <div class="product-details">
                          <h5 class="product-title"><a href="#">Aloe vera Gel</a></h5>
                          <p class="mb-0">Aloe vera is widely known for its beauty benefits. It works wonder for skin and hair and is often the key ingredient... </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat2">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <div class="image-swap text-center">
                            <a href="#">
                              <img src="home-assets/images/product/6.png" width="250" alt="product">
                            </a>
                          </div>
                        </div>
                        <div class="product-details">
                          <h5 class="product-title"><a href="#">Noni Plus Syrup</a></h5>
                          <p class="mb-0">Noni Plus Syrup contains more than 160 nutraceuticals, vitamins, minerals, alkaloids, amino acids and antioxidants..</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat2">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <div class="image-swap text-center">
                            <a href="#">
                              <img src="home-assets/images/product/7.png" width="250" alt="product">
                            </a>
                          </div>
                        </div>
                        <div class="product-details">
                          <h5 class="product-title"><a href="#">Female Tone</a></h5>
                          <p class="mb-0">The Powerful Ingredients of female tone are Enriched with Ashoka,
Palas, Lodhra, Kaligarni, Shatavari, Jiyapota, Apamarga..</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat2">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <div class="image-swap text-center">
                            <a href="#">
                              <img src="home-assets/images/product/8.png" width="250" alt="product">
                            </a>
                          </div>
                        </div>
                        <div class="product-details">
                          <h5 class="product-title"><a href="#">Joints Care</a></h5>
                          <p class="mb-0">It is a dietary supplement that provides nourishment to joints by optimizing synovial
fluids and cartilages.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat2">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <div class="image-swap text-center">
                            <a href="#">
                              <img src="home-assets/images/product/9.png" width="250" alt="product">
                            </a>
                          </div>
                        </div>
                        <div class="product-details">
                          <h5 class="product-title"><a href="#">Ayush Kwath</a></h5>
                          <p class="mb-0">Ayush Kwath is a natural and effective formulation for boosting
immunity. It's formulation enriched with all the</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->
                  <!-- Isotope Item Start -->
                  <div class="isotope-item cat2">
                    <div class="isotope-item-inner">
                      <div class="product">
                        <div class="product-header">
                          <div class="image-swap text-center">
                            <a href="#">
                              <img src="home-assets/images/product/10.png" width="250" alt="product">
                            </a>
                          </div>
                        </div>
                        <div class="product-details">
                          <h5 class="product-title"><a href="#">Male Tone</a></h5>
                          <p class="mb-0">It contains energy supportive herbs such as
Ashwagandha,Shatavari,Gokshura, Safed Musli,
Shilajit,Bang bhasma,</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Isotope Item End -->

                </div>
              </div>
              <!-- End Isotope Gallery Grid -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->
