
@{
    ViewBag.Title = "Visin Mission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}   <!-- Section: page title -->
<!-- Section: page title -->
<main id="content">
    <div class="bg-body-secondary py-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-site py-0 d-flex justify-content-center">
                <li class="breadcrumb-item">
                    <a class="text-decoration-none text-body" href="#">Home</a>
                </li>
                <li class="breadcrumb-item active pl-0 d-flex align-items-center" aria-current="page">Vision & Mission</li>
            </ol>
        </nav>
    </div>
    
    <section class="pt-10 pt-lg-13">
        <div class="container">
            <div class="row no-gutters align-items-center">
                <div class="col-md-6 mb-8 mb-md-0" data-animate="x-fadeInLeft">
                    <img width="100%" src="~/home-assets/images/vision.jpg" alt="Vision">
                </div>
                <div class="col-md-6 px-md-6 pl-xl-14 pr-xl-12">
                    <h3 class="fs-42 mb-5">Vision</h3>
                    <p>
                        Our Vision Is To Give A Balance Life, Where We Are Able To Pursue Our
                        Dreams With Passion, While Also Prioritizing Your Health Your Family.
                        We Will Work Towards Creating A Lifestyle, Where You Become Easily
                        Successful In All Areas Of Your Life.
                    </p>
                    <p>
                        We Want To Offer A Wide Range Of World Class Products For Our
                        Esteemed Customers At An Affordable Price Offer A Legitimate
                        Entrepreneurship Opportunity, Where You Awaken To Fulfil Your Goals
                        Dreams.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-10 pt-lg-13 pb-lg-13 pb-10">
        <div class="container">
            <div class="row no-gutters align-items-center">
                <div class="col-md-6 mb-8 mb-md-0 order-first order-md-1" data-animate="x-fadeInLeft">
                    <img width="100%" src="~/home-assets/images/mission.jpg" alt="Mission">
                </div>
                <div class="col-md-6 px-md-6 pr-xl-14 pl-xl-12 order-1 order-md-first">
                    <h3 class="fs-42 mb-5">Mission</h3>
                    <p>
                        Creating New Innovative Products In Healthcare Industry. We Make
                        Our Products Sustainably, By Which You Can Build A Idealistic Diverse
                        Global Team. You Make A Positive Impact In Communities Where You
                        Live Work.
                    </p>
                    <p>
                        To Empower The Lives Well - Being Of Our Members, Partners,
                        Customers Staff With The Highest Quality, Scientifically Proven
                        Clinically Researched Products. You Have A Golden Opportunity To Grab
                        This Innovative Best Business Opportunity.
                    </p> 

                </div>
            </div>
        </div>
    </section>
</main>