
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>Admin Dashboard</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>
                <div class="info-box-content"> <span class="info-box-text">Total Subscriber</span> <span class="info-box-number"> 3917 <small></small> </span> </div>
                <div class="info-box-content"><span class="viewAll"><a href="#-">Today's Subscriber : <strong>1250</strong></a></span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green-active"><i class="ion ion-ios-people-outline"></i></span>
                <div class="info-box-content">Total Business <span class="info-box-number">3225915</span> </div>
                <div class="info-box-content"><span class="viewAll"><a href="#-">Today's Business: <strong>355588</strong></a></span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-orange"><i class="ion ion-ios-people-outline"></i></span>
                <div class="info-box-content">Total Commission Received<span class="info-box-number">11052</span> </div>
                <div class="info-box-content"><span class="viewAll"><a href="#-">View Details</a></span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="ion ion-ios-cart-outline"></i></span>
                <div class="info-box-content">Total Commission Distributed <span class="info-box-number">1555225</span> </div>
                <div class="info-box-content"><span class="viewAll"><a href="#-">View Details</a></span></div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-6 colsm-6 col-lg-4">
            <!--Accordion wrapper-->
            <div class="accordion md-accordion income" id="accordionEx" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="box box-success">

                    <!-- box header -->
                    <div class="box-header">
                        <h3 class="box-title m-b-0">LifeOne</h3>
                    </div>

                    <!-- box body -->
                    <div class="media-list list-group">
                        <div class="list-group-item list-group-item-action media p-1">
                            <a class="media-link" href="#">
                                <div class="media-left">
                                    <p class="text-bold-600 m-0">Total Received in Company</p>
                                    <p class="font-small-2 text-muted m-0">Today's Transaction</p>
                                    <p class="font-small-2 text-muted m-0">Last Transaction</p>
                                </div>
                                <div class="media-body text-right">
                                    <p class="text-bold-600 m-0">11916.9</p>
                                    <p class="font-small-2 text-muted m-0 text-bold-600">INR 1029.1906</p>
                                    <p class="font-small-2 text-muted m-0 success">INR 283.1</p>
                                </div>
                            </a>
                        </div>
                        <div class="list-group-item list-group-item-action media p-1 bg-info bg-lighten-5">
                            <a class="media-link" href="#">
                                <div class="media-left">
                                    <p class="text-bold-600 m-0">Transfer To Bag</p>
                                    <p class="font-small-2 text-muted m-0">Today's Transaction</p>
                                    <p class="font-small-2 text-muted m-0">Last Transaction</p>
                                </div>
                                <div class="media-body text-right">
                                    <p class="text-bold-600 m-0">9213.3</p>
                                    <p class="font-small-2 text-muted m-0 text-bold-600">INR 1029.1906</p>
                                    <p class="font-small-2 text-muted m-0 success">INR 283.1</p>
                                </div>
                            </a>
                        </div>
                        <div class="list-group-item list-group-item-action media p-1 border-bottom-0">
                            <a class="media-link" href="#">
                                <div class="media-left">
                                    <p class="text-bold-600 m-0">Used From Bag</p>
                                    <p class="font-small-2 text-muted m-0">Today's Transaction</p>
                                    <p class="font-small-2 text-muted m-0">Last Transaction</p>
                                </div>
                                <div class="media-body text-right">
                                    <p class="text-bold-600 m-0">8015.1</p>
                                    <p class="font-small-2 text-muted m-0 text-bold-600">INR 1029.1906</p>
                                    <p class="font-small-2 text-muted m-0 success">INR 283.1</p>
                                </div>
                            </a>
                        </div>
                        <div class="list-group-item list-group-item-action media p-1 bg-info bg-lighten-5">
                            <a class="media-link" href="#">
                                <div class="media-left">
                                    <p class="text-bold-600 m-0">Balance in Bag</p>
                                    <p class="font-small-2 text-muted m-0">Today's Transaction</p>
                                    <p class="font-small-2 text-muted m-0">Last Transaction</p>
                                </div>
                                <div class="media-body text-right">
                                    <p class="text-bold-600 m-0">8015.1</p>
                                    <p class="font-small-2 text-muted m-0 text-bold-600">INR 1029.1906</p>
                                    <p class="font-small-2 text-muted m-0 success">INR 283.1</p>
                                </div>
                            </a>
                        </div>
                        <div class="list-group-item list-group-item-action media p-1 border-bottom-0">
                            <a class="media-link" href="#">
                                <div class="media-left">
                                    <p class="text-bold-600 m-0"><!--Amount -->Received Against Franchise</p>
                                    <p class="font-small-2 text-muted m-0">Today's Transaction</p>
                                    <p class="font-small-2 text-muted m-0">Last Transaction</p>
                                </div>
                                <div class="media-body text-right">
                                    <p class="text-bold-600 m-0">8015.1</p>
                                    <p class="font-small-2 text-muted m-0 text-bold-600">INR 1029.1906</p>
                                    <p class="font-small-2 text-muted m-0 success">INR 283.1</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->

            </div>
            <!-- Accordion wrapper -->
        </div>
        <div class="col-md-6 colsm-6 col-lg-4">
            <!-- DONUT CHART -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Utility</h3>
                </div>
                <div class="box-body" style="max-height:345px; overflow:auto;">
                    <div class="table-responsive utility">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Utility Name </th>
                                    <th>Transcation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Datacard Payment</td>
                                    <td>
                                        12548
                                        <span class="lastTransaction">Last Transaction: 26-03-2019 7.40 PM</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>DTH</td>
                                    <td>
                                        12548
                                        <span class="lastTransaction">Last Transaction: 26-03-2019 7.40 PM</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Prepaid Mobile Payment</td>
                                    <td>
                                        12548
                                        <span class="lastTransaction">Last Transaction: 26-03-2019 7.40 PM</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Insurance</td>
                                    <td>
                                        12548
                                        <span class="lastTransaction">Last Transaction: 26-03-2019 7.40 PM</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>UPI</td>
                                    <td>
                                        12548
                                        <span class="lastTransaction">Last Transaction: 26-03-2019 7.40 PM</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ThemePark Payment</td>
                                    <td>
                                        12548
                                        <span class="lastTransaction">Last Transaction: 26-03-2019 7.40 PM</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>SetupBox Payment</td>
                                    <td>
                                        12548
                                        <span class="lastTransaction">Last Transaction: 26-03-2019 7.40 PM</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>DMT Bill Payment</td>
                                    <td>
                                        12548
                                        <span class="lastTransaction">Last Transaction: 26-03-2019 7.40 PM</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Broadband Bill Payment</td>
                                    <td>
                                        12548
                                        <span class="lastTransaction">Last Transaction: 26-03-2019 7.40 PM</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Water Bill Payment</td>
                                    <td>
                                        12548
                                        <span class="lastTransaction">Last Transaction: 26-03-2019 7.40 PM</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.box -->

        </div>
        <div class="col-md-6 colsm-6 col-lg-4">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title m-b-0">Recent Joiner's<span class="viewAll"><a href="#-">View All</a></span></h3>
                </div>
                <div class="box-body" style="padding:0px;">
                    <div class="message-box">
                        <div class="message-widget">
                            <!-- Message -->
                            <div class="user-img"> <img src="~/Content/images/no-img-user.png" alt="user" class="img-circle"></div>
                            <div class="mail-contnet">
                                <div class="payReq">
                                    <div class="payDet">
                                        <a href="#">
                                            <h5>Pavan kumar</h5>
                                        </a> <span class="mail-desc">Refer By: CBPA205</span>
                                    </div>
                                    <div class="payRwallet">
                                        <a href="#">
                                            <h5>CB54054</h5>
                                        </a> <span class="time"><i>26 Nov 2018 9:30 AM</i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-widget">
                            <!-- Message -->
                            <div class="user-img"> <img src="~/Content/images/no-img-user1.png" alt="user" class="img-circle"></div>
                            <div class="mail-contnet">
                                <div class="payReq">
                                    <div class="payDet">
                                        <a href="#">
                                            <h5>Pavan kumar</h5>
                                        </a> <span class="mail-desc">Refer By: CBPA205</span>
                                    </div>
                                    <div class="payRwallet">
                                        <a href="#">
                                            <h5>CB54054</h5>
                                        </a> <span class="time"><i>26 Nov 2018 9:30 AM</i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Message -->

                        <div class="message-widget">
                            <div class="user-img"> <img src="~/Content/images/no-img-user.png" alt="user" class="img-circle"></div>
                            <div class="mail-contnet">
                                <div class="payReq">
                                    <div class="payDet">
                                        <a href="#">
                                            <h5>Pavan kumar</h5>
                                        </a> <span class="mail-desc">Refer By: CBPA205</span>
                                    </div>
                                    <div class="payRwallet">
                                        <a href="#">
                                            <h5>CB54054</h5>
                                        </a> <span class="time"><i>26 Nov 2018 9:30 AM</i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Message -->

                        <div class="message-widget">
                            <div class="user-img"> <img src="~/Content/images/no-img-user1.png" alt="user" class="img-circle"></div>
                            <div class="mail-contnet">
                                <div class="payReq">
                                    <div class="payDet">
                                        <a href="#">
                                            <h5>Pavan kumar</h5>
                                        </a> <span class="mail-desc">Refer By: CBPA205</span>
                                    </div>
                                    <div class="payRwallet">
                                        <a href="#">
                                            <h5>CB54054</h5>
                                        </a> <span class="time"><i>26 Nov 2018 9:30 AM</i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Message -->

                        <div class="message-widget">
                            <div class="user-img"> <img src="~/Content/images/no-img-user.png" alt="user" class="img-circle"></div>
                            <div class="mail-contnet">
                                <div class="payReq">
                                    <div class="payDet">
                                        <a href="#">
                                            <h5>Pavan kumar</h5>
                                        </a> <span class="mail-desc">Refer By: CBPA205</span>
                                    </div>
                                    <div class="payRwallet">
                                        <a href="#">
                                            <h5>CB54054</h5>
                                        </a> <span class="time"><i>26 Nov 2018 9:30 AM</i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Message -->

                        <div class="message-widget">
                            <div class="user-img"> <img src="~/Content/images/no-img-user1.png" alt="user" class="img-circle"></div>
                            <div class="mail-contnet">
                                <div class="payReq">
                                    <div class="payDet">
                                        <a href="#">
                                            <h5>Pavan kumar</h5>
                                        </a> <span class="mail-desc">Refer By: CBPA205</span>
                                    </div>
                                    <div class="payRwallet">
                                        <a href="#">
                                            <h5>CB54054</h5>
                                        </a> <span class="time"><i>26 Nov 2018 9:30 AM</i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Message -->

                        <div class="message-widget">
                            <div class="user-img"> <img src="~/Content/images/no-img-user1.png" alt="user" class="img-circle"></div>
                            <div class="mail-contnet">
                                <div class="payReq">
                                    <div class="payDet">
                                        <a href="#">
                                            <h5>Pavan kumar</h5>
                                        </a> <span class="mail-desc">Refer By: CBPA205</span>
                                    </div>
                                    <div class="payRwallet">
                                        <a href="#">
                                            <h5>CB54054</h5>
                                        </a> <span class="time"><i>26 Nov 2018 9:30 AM</i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Message -->

                        <div class="message-widget">
                            <div class="user-img"> <img src="~/Content/images/no-img-user.png" alt="user" class="img-circle"></div>
                            <div class="mail-contnet">
                                <div class="payReq">
                                    <div class="payDet">
                                        <a href="#">
                                            <h5>Pavan kumar</h5>
                                        </a> <span class="mail-desc">Refer By: CBPA205</span>
                                    </div>
                                    <div class="payRwallet">
                                        <a href="#">
                                            <h5>CB54054</h5>
                                        </a> <span class="time"><i>26 Nov 2018 9:30 AM</i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Message -->

                        <div class="message-widget">
                            <div class="user-img"> <img src="~/Content/images/no-img-user1.png" alt="user" class="img-circle"></div>
                            <div class="mail-contnet">
                                <div class="payReq">
                                    <div class="payDet">
                                        <a href="#">
                                            <h5>Pavan kumar</h5>
                                        </a> <span class="mail-desc">Refer By: CBPA205</span>
                                    </div>
                                    <div class="payRwallet">
                                        <a href="#">
                                            <h5>CB54054</h5>
                                        </a> <span class="time"><i>26 Nov 2018 9:30 AM</i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Message -->

                        <div class="message-widget">
                            <div class="user-img"> <img src="~/Content/images/no-img-user.png" alt="user" class="img-circle"></div>
                            <div class="mail-contnet">
                                <div class="payReq">
                                    <div class="payDet">
                                        <a href="#">
                                            <h5>Pavan kumar</h5>
                                        </a> <span class="mail-desc">Refer By: CBPA205</span>
                                    </div>
                                    <div class="payRwallet">
                                        <a href="#">
                                            <h5>CB54054</h5>
                                        </a> <span class="time"><i>26 Nov 2018 9:30 AM</i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Monthly Recap Report</h3>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="chart">
                        <canvas id="barChart" style="height:230px"></canvas>
                    </div>
                </div>
                <!-- ./box-body -->
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>

