@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #member-details {
        width: 0%;
    }

        #member-details.active {
            width: 100%;
        }

        #member-details .table td, #member-details .table th {
            padding: 4px 8px;
            border-collapse: collapse;
            color: #808080;
            border-bottom: none;
        }

    .tree.active {
        margin-left: 0%;
    }

    .wallet-bar {
        top: 77px !important;
    }

    .tree li a {
        /*width: 125px;
        height: 75px;
        border: 1px solid #ccc;*/
        width: 135px;
        height: 100px;
        border: 1px solid #ccc;
        word-break: break-word;
        font-size: 18px;
    }

        .tree li a:hover {
            background-color: #03a9f414 !important;
        }

    #firstRow {
        margin-top: -5%;
        margin-left: -22%;
        transform: scale(0.55,0.55);
    }

    .tree a span {
        width: 135px;
        font-size: 18px;
        word-break: break-word;
        margin: auto;
    }

    .text-left, .text-right {
        text-align: center !important;
        padding: 5px;
    }

    #topnav {
        position: relative !important;
    }

    .breadcrumbWrap {
        padding-top: 10px !important;
        margin-top: 1px !important;
    }
}


@media (max-width: 767px) and (min-width: 480px) {
    #member-details {
        width: 0%;
    }

        #member-details.active {
            width: 100%;
        }

        #member-details .table td, #member-details .table th {
            padding: 4px 8px;
            border-collapse: collapse;
            color: #808080;
            border-bottom: none;
        }

    .tree.active {
        margin-left: 0%;
    }

    .wallet-bar {
        top: 77px !important;
    }

    .tree li a {
        /*width: 125px;
        height: 75px;
        border: 1px solid #ccc;*/
        width: 135px;
        height: 100px;
        border: 1px solid #ccc;
        word-break: break-word;
        font-size: 18px;
    }

        .tree li a:hover {
            background-color: #03a9f414 !important;
        }

    #firstRow {
        margin-top: -10%;
        margin-left: -27.7%;
        transform: scale(0.45,0.50);
    }

    .tree a span {
        width: 135px;
        font-size: 18px;
        word-break: break-word;
        margin: auto;
    }

    .text-left, .text-right {
        text-align: center !important;
        padding: 5px;
    }

    #topnav {
        position: relative !important;
    }

    .breadcrumbWrap {
        padding-top: 10px !important;
        margin-top: 1px !important;
    }
}

@media (max-width: 479px) and (min-width: 320px) {
    .tree a span {
        width: 135px;
        font-size: 12px;
        word-break: break-word;
        margin: auto;
    }

    #firstRow {
        margin-top: 0%;
        margin-left: 0%;
        /*transform: scale(0.27,0.35);*/
        font-size: 14px;
    }

    .tree {
        display: flex;
        overflow: auto;
    }

    #member-details {
        width: 0%;
    }

        #member-details.active {
            width: 100%;
            background-color: #fff;
        }

        #member-details .table td, #member-details .table th {
            padding: 4px 8px;
            border-collapse: collapse;
            color: #808080;
            border-bottom: none;
        }

    .text-left, .text-right {
        text-align: center !important;
        padding: 5px;
    }

    .wallet-bar {
        top: 77px !important;
    }

    .tree li a {
        /*width: 125px;
        height: 75px;
        border: 1px solid #ccc;*/
        width: 135px;
        height: 100px;
        border: 1px solid #ccc;
        word-break: break-word;
        font-size: 13px;
    }

        .tree li a:hover {
            background-color: #03a9f414 !important;
        }
}
