@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order Failed</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <style>
        @@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,600);
        .container {
            padding: 20px;
            margin-top: 15% !important;
        }
        body {
            background-color: #f6f4f4;
            font-family: 'Raleway', sans-serif;
        }
        .teal {
            background-color: #ffc952 !important;
            color: #444444 !important;
        }
        a {
            color: #47b8e0 !important;
        }
        .message {
            text-align: left;
        }
        .price1 {
            font-size: 40px;
            font-weight: 200;
            display: block;
            text-align: center;
        }
        .ui.message p {
            margin: 5px;
        }
    </style>
    <div class="container">
        <div class="ui middle aligned center aligned grid">
            <div class="ui eight wide column">
                <form class="ui large form">
                    <div class="ui icon negative message">
                        <i class="warning icon"></i>
                        <div class="content">
                            <div class="header">
                                <p style="color:#d75a4a;font-size:24px;font-weight:500;">Sorry! your Order failed!</p>
                            </div>
                            <p>While Processing order</p>
                        </div>
                    </div>
                    <p style="color:#555555;">Transaction ID:&nbsp;<strong style="font-weight:500;font-size:16px;color: #222222;">@ViewBag.paymentId</strong><br>Payment amount:&nbsp;<strong style="font-weight:500;font-size:16px;color: #222222;">Rs.@ViewBag.Amount</strong><br>If your payment got detucted for above transaction, the same shall be credited back to your account in<strong style="font-weight:500;font-size:15px;color: #222222;"> 5 working days</strong></p>
                    <a href="/UID-Order-Stock" class="btn btn-danger btn-sm text-white"> Try again</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
