@model LifeOne.Models.Products
<li class="mobile-menu mmenu-anim">
    <a href="#">Product</a>
    <ul class="py-6">
        <li>
            @if (Model != null && Model.LstMenu.Count > 0)
            {
            <li>
                <a href="/Home/Products">
                    <span class="border-hover-target">
                        All Products
                    </span>
                </a>
            </li>
            foreach (var item in Model.LstMenu)
            {
                <li>
                    <a href="/Home/Products?id=@AesEncryption.Crypto.Encryption("LifeWellAP1234@Z",@item.Pk_ProductTypeId.ToString())">
                        <span class="border-hover-target">
                            @item.ProductType
                        </span>
                    </a>
                </li>
            }
        }
        </ul>   
</li>


