.margin-5{
	margin:5px;
}
.mt-5{
	margin-top:5px;
}
.mr-5{
	margin-right:5px;
}
.mb-5{
	margin-bottom:5px;
}
.ml-5{
	margin-left:5px;
}
.margin-10{
	margin:10px;
}
.mt-10{
	margin-top:10px;
}
.mr-10{
	margin-right:10px;
}
.mb-10{
	margin-bottom:10px;
}
.ml-10{
	margin-left:10px;
}
.margin-15{
	margin:15px;
}
.mt-15{
	margin-top:15px;
}
.mr-15{
	margin-right:15px;
}
.mb-15{
	margin-bottom:15px;
}
.ml-15{
	margin-left:15px;
}
.margin-20{
	margin:20px;
}
.mt-20{
	margin-top:20px;
}
.mr-20{
	margin-right:20px;
}
.mb-20{
	margin-bottom:20px;
}
.ml-20{
	margin-left:20px;
}
.margin-25{
	margin:25px;
}
.mt-25{
	margin-top:25px;
}
.mr-25{
	margin-right:25px;
}
.mb-25{
	margin-bottom:25px;
}
.ml-25{
	margin-left:25px;
}
.margin-30{
	margin:30px;
}
.mt-30{
	margin-top:30px;
}
.mr-30{
	margin-right:30px;
}
.mb-30{
	margin-bottom:30px;
}
.ml-30{
	margin-left:30px;
}
.padding-5{
	padding:5px;
}
.pt-5{
	padding-top:5px;
}
.pr-5{
	padding-right:5px;
}
.pb-5{
	padding-bottom:5px;
}
.pl-5{
	padding-left:5px;
}
.padding-10{
	padding:10px;
}
.pt-10{
	padding-top:10px;
}
.pr-10{
	padding-right:10px;
}
.pb-10{
	padding-bottom:10px;
}
.pl-10{
	padding-left:10px;
}
.padding-15{
	padding:15px;
}
.pt-15{
	padding-top:15px;
}
.pr-15{
	padding-right:15px;
}
.pb-15{
	padding-bottom:15px;
}
.pl-15{
	padding-left:15px;
}
.padding-20{
	padding:20px;
}
.pt-20{
	padding-top:20px;
}
.pr-20{
	padding-right:20px;
}
.pb-20{
	padding-bottom:20px;
}
.pl-20{
	padding-left:20px;
}
.padding-25{
	padding:25px;
}
.pt-25{
	padding-top:25px;
}
.pr-25{
	padding-right:25px;
}
.pb-25{
	padding-bottom:25px;
}
.pl-25{
	padding-left:25px;
}
.padding-30{
	padding:30px;
}
.pt-30{
	padding-top:30px;
}
.pr-30{
	padding-right:30px;
}
.pb-30{
	padding-bottom:30px;
}
.pl-30{
	padding-left:30px;
}
.table{
	margin-bottom:0;
}

.fixedEmail {
    position: fixed;
    bottom: -20px;
    right: 15px;
    width: 600px;
	display:none;
}
.openCCBox, .openBCCBox{
	cursor:pointer;
}
.CCBox, .BCCBox{
	display:none;
}
.fixedEmail ul.wysihtml5-toolbar a.btn {
    padding: 2px 5px;
    font-size: 12px;
}
.btn-custom{
	padding: 0 5px;
}
.custome-select {
    height: 25px;
    padding: 0 5px;
}
 
.table th {
    background: #efefef;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 3px 5px;
}
label {
    font-weight: 500;
}

.formtab {
    display: none;
    max-width: 1050px;
	width:100%;
    margin: 0 auto;
}
.form-horizontal .formtab .col-md-5.control-label {
    max-width: 200px;
    width: 100%; 
}
.form-horizontal .formtab .col-md-7 {
    width: calc(100% - 200px);
}
fieldset {
    min-width: 0;
    padding: 15px;
    margin: 0 0 20px 0;
    border: 1px solid silver;
}
legend {
    display: block;
    width: auto;
    padding: 0 5px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 0;
}
.moreFieldsSection{display:none;}
.showMoreFields, .ShowFields{
	cursor: pointer;
}
.dvPopB {
    position: absolute;
    margin-top: -130px;
    background-color: white;
    width: 220px;
    height: auto;
    padding: 0px 0px 20px 0px;
    text-align: center;
    vertical-align: middle;
    z-index: 1001;
    background: #FFF;
    border: solid 1px #BBBBBB;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #999;
    right: 58px;
    outline: 0;
	display:none;
}
.arrowB {
    width: 0;
    height: 0;
    border-left: 11px solid #fff;
    border-right: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-top: 11px solid transparent;
    position: absolute;
    right: -22px;
    top: 103px;
    z-index: 1001;
}
.arrow-borderB {
    width: 0;
    height: 0;
    border-left: 11px solid #BBBBBB;
    border-right: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-top: 11px solid transparent;
    position: absolute;
    right: -23px;
    top: 103px;
    z-index: 1000;
}
.popHeading {
    background-color: #DCDCDC;
    color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: left;
    padding-left: 8px;
    font-size: 12px;
    height: 30px;
    font-weight: bold;
}
.user-details .colon {
    display: none;
}
.box-group.user-details .panel.box.box-info {
    margin-bottom: 5px;
}
.box-group.user-details .panel.box.box-info .box-header {
    padding: 0;
}
.box-group.user-details .panel.box.box-info .box-header .box-title {
    display: block;
}
.box-group.user-details .panel.box.box-info .box-header .box-title a {
    display: block;
    padding: 10px;
}
.box-group.user-details .panel.box.box-info .box-header .box-title a {
    padding-right: 20px;
	color: #1b4f82;
}
.box-group.user-details .panel.box.box-info .box-header .box-title a:after {
    content: '';
    position: absolute;
    right: 5px;
    top: 18px;
    width: 11px;
    height: 1px;
    background: #000;
}
.box-group.user-details .panel.box.box-info .box-header .box-title a.collapsed:before {
    content: '';
    position: absolute;
    right: 10px;
    top: 13px;
    width: 1px;
    height: 11px;
    background: #000;
}
.text-white, .text-white:hover, .text-white:focus{
	color:#fff;
}
@media (min-width: 768px) {
.user-details .label-name {
    display: inline-block;
    margin-bottom: 10px;
    line-height: 1.2;
    width: 160px;
}
.user-details .colon {
    padding: 0 6px;
    display: inline-block;
}
.user-details .label-data {
    display: inline-block;
}
}
/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
@media (min-width: 768px){
.fixedEmail .modal-dialog {
    margin: 0;
}
}

a {
color: #065e94;
}

.skin-blue .main-header .navbar {
background-color: rgb(26,84,148);
background: rgb(26,84,148);
background: linear-gradient(90deg, rgba(26,84,148,1) 0%, rgba(0,171,240,1) 100%);
}

.skin-blue .main-header .navbar .nav > li.user.user-menu > a {
padding: 22px 15px;
}
.skin-blue .main-header .navbar .nav > li > a {
padding: 30px 15px;
}

.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a {
background: rgba(0, 0, 0, 0.1);
color: #f6f6f6;
}

.skin-blue .main-header .navbar .sidebar-toggle {
color: #fff;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
color: #f6f6f6;
background: rgba(0, 0, 0, 0.1);
}

.skin-blue .main-header .navbar .sidebar-toggle {
color: #fff;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
background-color: #43175a;
}

@media (max-width:767px) {
.skin-blue .main-header .navbar .dropdown-menu li.divider {
background-color: rgba(255, 255, 255, 0.1);
}

.skin-blue .main-header .navbar .dropdown-menu li a {
color: #fff;
}

.skin-blue .main-header .navbar .dropdown-menu li a:hover {
background: #367fa9;
}
}

.skin-blue .main-header .logo {
background-color: #1e072a;
color: #fff;
border-bottom: 0 solid transparent;
}

.skin-blue .main-header .logo:hover {
background-color: #3a1150;
}

.skin-blue .main-header li.user-header {
background-color: #6d368a;
}

.skin-blue .content-header {
background: transparent;
}

.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
background: #1b4f82;
}

.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
color: #2a0f38;
}

.skin-blue .sidebar-menu > li.header {
color: #fff;
background: #1e072a;
}

.skin-blue .sidebar-menu > li > a {
border-left: 3px solid transparent;
}

.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a {
color: #fff;
background: #00abfe;
border-left-color: #1b4f82;
}


.sidebar-menu > li {
font-size: 15px;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
margin: 0;
background: #1b4f82;
}

.skin-blue .sidebar a {
color: #fff;
}

.skin-blue .sidebar a:hover {
text-decoration: none;
}

.skin-blue .treeview-menu > li > a {
color: #fff;
border-top: 1px solid #3384bd;
}

.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
/*color: #3a1150;*/
color: #fff;
background: #00abfe;
}

.skin-blue .sidebar-form {
border-radius: 3px;
border: 1px solid #3a1150;
margin: 10px 10px;
}

.skin-blue .sidebar-form input[type="text"],
.skin-blue .sidebar-form .btn {
box-shadow: none;
background-color: #3a1150;
border: 1px solid transparent;
height: 35px;
-webkit-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}

.skin-blue .sidebar-form input[type="text"] {
color: #666;
border-top-left-radius: 2px;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
border-bottom-left-radius: 2px;
}

.skin-blue .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
background-color: #fff;
color: #666;
}

.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
border-left-color: #fff;
}

.skin-blue .sidebar-form .btn {
color: #999;
border-top-left-radius: 0;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 0;
}

.skin-blue.layout-top-nav .main-header > .logo {
background-color: #3c8dbc;
color: #fff;
border-bottom: 0 solid transparent;
}

.skin-blue.layout-top-nav .main-header > .logo:hover {
background-color: #3b8ab8;
}

.sidebar-menu .treeview-menu > li > a > .fa, .sidebar-menu .treeview-menu > li > a > .glyphicon, .sidebar-menu .treeview-menu > li > a > .ion {
font-size: 10px;
}

.edit-section {
margin-top: 110px;
}

.p10 {
padding: 10px;
}

.profile-username {
font-size: 21px;
margin-top: 10px;
margin-bottom: 15px;
}

.user-panel > .image > img {
max-height: 45px;
min-width: 45px;
min-height: 45px;
}

.nav-tabs-custom > .nav-tabs > li.active {
border-top-color: #2a0f38;
}

.box.box-primary {
border-top-color: #2a0f38;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
margin: 0px;
padding: 0px;
}

.img-class {
width: 75px;
}

#addImage .img-class {
width: 100%;
}

.my-img {
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}

.my-img :hover {
opacity: 0.7;
}

/* The Modal (background) */
.modal-custom {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 9999; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-custom .modal-content {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
}

/* Caption of Modal Image */
#caption {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
text-align: center;
color: #ccc;
padding: 10px 0;
height: 150px;
}

/* Add Animation */
.modal-custom .modal-content, #caption {
-webkit-animation-name: zoom;
-webkit-animation-duration: 0.6s;
animation-name: zoom;
animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
from {
-webkit-transform: scale(0);
}

to {
-webkit-transform: scale(1);
}
}

@keyframes zoom {
from {
transform: scale(0);
}

to {
transform: scale(1);
}
}

/* The Close Button */
.closeit {
position: absolute;
top: 15px;
right: 35px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.closeit:hover,
.closeit:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
.modal-content {
width: 100%;
}
}

.pull-left.image, .navbar-nav > .user-menu .user-image {

border-radius: 50%;
padding: 2px;
}


.updateKyc {
padding: 10px 20px;
font-size: 1em;
border-radius: 5px;
color: #fff;
text-align: center;
margin: 5px 20px;
-webkit-animation-name: color-transition;
animation-name: color-transition;
-webkit-animation-duration: 5s;
animation-duration: 5s;
-webkit-animation-direction: alternate;
animation-direction: alternate;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
}



@-webkit-keyframes color-transition {
0% {
background-color: #ffc107;
border-color: #ffc107;
}

33% {
background-color: #8a0202;
border-color: #8a0202;
}

66% {
background-color: #ffc107;
border-color: #ffc107;
}

100% {
background-color: #8a0202;
border-color: #8a0202;
}
}

@keyframes color-transition {
0% {
background-color: #ffc107;
border-color: #ffc107;
}

33% {
background-color: #8a0202;
border-color: #8a0202;
}

66% {
background-color: #ffc107;
border-color: #ffc107;
}

100% {
background-color: #ffc107;
border-color: #ffc107;
}
}

.clearfix {
clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
padding-left: 15px;
padding-right: 15px;
}

.desGroup {
clear: both;
}

.kycVer {
clear: both;
border-top: 1px solid #f4f4f4;
border-bottom: 1px solid #f4f4f4;
padding: 10px 15px 20px;
}

.kycTitle {
clear: both;
font-weight: bold;
font-size: 18px;
padding-bottom: 0px;
}

.kycinfo {
}

.kycinfo font {
display: inline-block;
padding-right: 50px;
padding: 10px 25px 0px 0;
}

.kycinfo font img {
margin-right: 10px;
}

.sponsoLink {
clear: both;
padding: 20px 15px;
background: #fbfafa;
border-bottom: 1px solid #f4f4f4;
float: left;
width: 100%;
cursor: pointer;
font-size: 16px;
}

.sponsoLink a {
color: #00a1d5;
}

.sponsoLink img {
margin-right: 10px;
}

.sp1 {
float: left;
width: 50%;
}

.sp2 {
float: left;
width: 50%;
}

.description-block {
float: left;
width: 50%;
padding: 20px;
margin: 0px;
border-left: 1px solid #ececec;
}
.ReportViewsLinks {
    padding: 7px 10px;
}
.subhead {
    font-size: 18px;
    padding: 0 20px;
}

/*------------- Custom Radio Button------*/
.custom_radio{
   margin:5px 0px 0;
}
.custom_radio input[type="radio"]{
  display: none;
}
.custom_radio input[type="radio"] + label{
  position: relative;
  display: inline-block;
 padding-left: 32px;
    margin-right: 20px;
    cursor: pointer;
    line-height: 20px; 
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.custom_radio input[type="radio"] + label:before,
.custom_radio input[type="radio"] + label:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white; 
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.custom_radio input[type="radio"] + label:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.2em #d2d6de, inset 0 0 0 1em white;
}
.custom_radio input[type="radio"] + label:hover:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.3em #d2d6de, inset 0 0 0 1em #c6c6c6;
}
.custom_radio input[type="radio"]:checked + label:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.2em #d2d6de, inset 0 0 0 1em #4CAF50;
}
.font11{font-size:10px}