
a {
	color: #027ca7;
}
a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
    color: #2196F3;
}
.mb-10 {
    margin-bottom:10px;
}
.mb-5 {
    margin-bottom: 5px;
}
.skin-green .main-header .navbar {
	background-color: #fff;
	border-left: 1px solid #f3f3f3;
}
.skin-green .main-header .navbar {
    background-color: #ffd33c;
    color: #333;
}
.skin-green .main-header .navbar .nav > li > a {
	color: #333
}
.skin-green .main-header .navbar .nav > li > a:hover, .skin-green .main-header .navbar .nav > li > a:active, .skin-green .main-header .navbar .nav > li > a:focus, .skin-green .main-header .navbar .nav .open > a, .skin-green .main-header .navbar .nav .open > a:hover, .skin-green .main-header .navbar .nav .open > a:focus, .skin-green .main-header .navbar .nav > .active > a {
	background: rgba(0, 0, 0, 0.1);
	color: #f6f6f6;
}
.skin-green .main-header .navbar .sidebar-toggle {
	color: #fff
}
.skin-green .main-header .navbar .sidebar-toggle:hover {
	color: #f6f6f6;
	background: rgba(0, 0, 0, 0.1);
}
	.skin-green .main-header .navbar .sidebar-toggle {
		color: #333;
		font-size: 20px;
		line-height: 42px;
	}
		.skin-green .main-header .navbar .sidebar-toggle:hover {
			background-color: #10840a;
		}

@media (max-width:767px) {
.skin-green .main-header .navbar .dropdown-menu li.divider {
	background-color: rgba(255, 255, 255, 0.1);
}
.skin-green .main-header .navbar .dropdown-menu li a {
	color: #fff;
}
.skin-green .main-header .navbar .dropdown-menu li a:hover {
	background: #367fa9;
}
}
.skin-green .main-header .logo {
	background-color: #fff;
	color: #fff;
	border-bottom: 0 solid transparent;
}
.skin-green .main-header .logo:hover {
	background-color: #fff;
}
 
.skin-green .content-header {
	background: transparent;
}
.skin-green .wrapper, .skin-green .main-sidebar, .skin-green .left-side {
	background-color: #fff;
}
.skin-green .user-panel > .info, .skin-green .user-panel > .info > a {
	color: #027ca7;
}
.skin-green .sidebar-menu > li.header {
	color: #fff;
	background: #fff;
}
.skin-green .sidebar-menu > li > a {
	border-left: 3px solid transparent;
}
.skin-green .sidebar-menu > li:hover > a, .skin-green .sidebar-menu > li.active > a {
	color: #fff;
	background: #0c8206;
    border-left-color: #ffd441;
}
.sidebar-menu .treeview-menu {
	padding-left: 0px;
}
.sidebar-menu > li {
	font-size: 12px;
}
.skin-green .sidebar-menu > li > .treeview-menu {
	margin: 0 1px;
	background: #fff;
}
.skin-green .sidebar a {
	color: #333333;
}
.skin-green .sidebar a:hover {
	text-decoration: none;
}
.skin-green .treeview-menu > li > a {
	color: #333333;
}
.skin-green .treeview-menu > li.active > a, .skin-green .treeview-menu > li > a:hover {
	color: #027ca7;
	background: #ffc80b;
}
.skin-green .sidebar-form {
	border-radius: 3px;
	border: 1px solid #333333;
	margin: 10px 10px;
}
.skin-green .sidebar-form input[type="text"], .skin-green .sidebar-form .btn {
	box-shadow: none;
	background-color: #333333;
	border: 1px solid transparent;
	height: 35px;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.skin-green .sidebar-form input[type="text"] {
	color: #666;
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
}
.skin-green .sidebar-form input[type="text"]:focus, .skin-green .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #fff;
	color: #666;
}
.skin-green .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	border-left-color: #fff;
}
.skin-green .sidebar-form .btn {
	color: #999;
	border-top-left-radius: 0;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 0;
}
.skin-green.layout-top-nav .main-header > .logo {
	background-color: #3c8dbc;
	color: #fff;
	border-bottom: 0 solid transparent;
}
.skin-green.layout-top-nav .main-header > .logo:hover {
	background-color: #3b8ab8;
}
.sidebar-menu .treeview-menu > li > a > .fa, .sidebar-menu .treeview-menu > li > a > .glyphicon, .sidebar-menu .treeview-menu > li > a > .ion {
	font-size: 10px;
}
.edit-section {
	margin-top: 110px;
}
.p10 {
	padding: 10px;
}
.profile-username {
	font-size: 21px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.user-panel > .image > img {
	max-height: 45px;
	min-width: 45px;
	min-height: 45px;
}
.nav-tabs-custom > .nav-tabs > li.active {
	border-top-color: #00a65a;
}
.box.box-primary {
	border-top-color: #00a65a;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0px;
	padding: 0px;
}
.img-class {
	width: 75px;
}
#addImage .img-class {
	width: 100%;
}
.my-img {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}
.my-img :hover {
	opacity: 0.7;
}
/* The Modal (background) */
.modal-custom {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 9999; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-custom .modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}
/* Caption of Modal Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}
/* Add Animation */
.modal-custom .modal-content, #caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
 @-webkit-keyframes zoom {
 from {
 -webkit-transform: scale(0);
}
 to {
 -webkit-transform: scale(1);
}
}
 @keyframes zoom {
 from {
 transform: scale(0);
}
 to {
 transform: scale(1);
}
}
/* The Close Button */
.closeit {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
.closeit:hover, .closeit:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
.modal-content {
	width: 100%;
}
}
.pull-left.image, .navbar-nav > .user-menu .user-image {
	background: #FFF;
	border-radius: 50%;
	padding: 2px;
}
.updateKyc {
	padding: 10px 20px;
	font-size: 1em;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	margin: 5px 20px;
	-webkit-animation-name: color-transition;
	animation-name: color-transition;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
 @-webkit-keyframes color-transition {
 0% {
 background-color: #ffc107;
 border-color: #ffc107;
}
 33% {
 background-color: #8a0202;
 border-color: #8a0202;
}
 66% {
 background-color: #ffc107;
 border-color: #ffc107;
}
 100% {
 background-color: #8a0202;
 border-color: #8a0202;
}
}
 @keyframes color-transition {
 0% {
 background-color: #ffc107;
 border-color: #ffc107;
}
 33% {
 background-color: #8a0202;
 border-color: #8a0202;
}
 66% {
 background-color: #ffc107;
 border-color: #ffc107;
}
 100% {
 background-color: #ffc107;
 border-color: #ffc107;
}
}
.clearfix {
	clear: both;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 15px;
	padding-right: 15px;
}
.desGroup {
	clear: both;
}
.kycVer {
	clear: both;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	padding: 10px 15px 20px;
}
.kycTitle {
	clear: both;
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 0px;
}
.kycinfo {
}
.kycinfo font {
	display: inline-block;
	padding-right: 50px;
	padding: 10px 25px 0px 0;
}
.kycinfo font img {
	margin-right: 10px;
}
.sponsoLink {
	clear: both;
	padding: 20px 15px;
	background: #fbfafa;
	border-bottom: 1px solid #f4f4f4;
	float: left;
	width: 100%;
	cursor: pointer;
	font-size: 16px;
}
.sponsoLink a {
	color: #00a65a;
}
.sponsoLink img {
	margin-right: 10px;
}
.sp1 {
	float: left;
	width: 50%;
}
.sp2 {
	float: left;
	width: 50%;
}
.description-block {
	float: left;
	width: 50%;
	padding: 20px;
	margin: 0px;
	border-left: 1px solid #ececec;
}
.psearch, .pbutton {
	padding-bottom: 10px;
	margin-top: 15px; cursor:pointer;
}
.psearch {
      
}
.advance-search { text-align:right;
}
.selbg {
    background:#f5f5f5 !important;
    border-color:#f5f5f5 !important;
}
.pbutton span a {
    background: #fff;
    padding: 5px 8px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.btnPdf { color:red;font-size:16px;
}.btnprint { color:#0c8206;
}
.pbutton span{ padding-right:2px;
}
.psearch .input-group input {
	width: calc(100% - 39px);
}
.psearch .input-group .btn-success {
	border-radius: 0 5px 5px 0px;
}
.message-box .message-widget {
	position: relative;
}
.message-box .message-widget .user-img {
	width: 45px;
	position: relative;
	display: inline-block;
	margin: 0 10px 15px 0;
}
.message-box .message-widget .user-img img {
	width: 100%;
}
.img-circle {
	border-radius: 100%;
}
.message-box ul li .drop-title {
	font-weight: 500;
	padding: 11px 20px 15px;
	border-bottom: 1px solid rgba(120, 130, 140, 0.13)
}
.message-box ul li .nav-link {
	border-top: 1px solid rgba(120, 130, 140, 0.13);
	padding-top: 15px
}
.message-box .message-widget {
	position: relative
}
.message-box .message-widget {
	border-bottom: 1px solid rgba(120, 130, 140, 0.13);
	display: block;
	text-decoration: none;
	padding: 9px 0px 10px 10px;
}
.message-box .message-widget a:hover {
	background: #f2f4f8
}
.message-box .message-widget a:last-child {
	border-bottom: 0px
}
.message-box .message-widget div {
	white-space: normal
}
.message-box .message-widget .user-img {
	width: 45px;
	position: relative;
	display: inline-block;
	margin: 0 10px 0px 0
}
.message-box .message-widget .user-img img {
	width: 100%;
	border: 1px solid #e8e8e8;
}
.message-box .message-widget .user-img .profile-status {
	border: 2px solid #ffffff;
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	left: 33px;
	position: absolute;
	top: -1px;
	width: 10px
}
.message-box .message-widget .user-img .online {
	background: #26c6da
}
.message-box .message-widget .user-img .busy {
	background: #fc4b6c
}
.message-box .message-widget .user-img .away {
	background: #ffb22b
}
.message-box .message-widget .user-img .offline {
	background: #ffb22b
}
.message-box .message-widget .mail-contnet {
	display: inline-block;
	width: 75%;
	vertical-align: middle
}
.message-box .message-widget .mail-contnet h5 {
	margin: 5px 0px 0
}
.message-box .message-widget .mail-contnet .mail-desc, .message-box .message-widget .mail-contnet .time {
	font-size: 12px;
	display: block;
	margin: 1px 0;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #c0c5c7;
	white-space: nowrap
}
.viewAll {
	float: right;
	font-size: 12px;
}
h4 {
	line-height: 22px;
	font-size: 18px;
}
.mail-contnet {
	width: calc(100% - 65px) !important;
}
.payReq {
	clear: both;
	width: 100%;
}
.payDet {
	float: left;
	width: 50%;
}
.payDet h5 {    font-weight: 600;
    font-size: 12px;
}
.payRwallet {
	float: right;
	width: 50%;
	text-align: right;
	 
}
.box-header .box-title {
	display: block;
	font-size: 18px;
	margin: 0;
	line-height: 1;
}
.media-body, .media-left, .media-right {
	display: block;
	vertical-align: top;
	float: left;
	width: 50%;
}
.list-group-item.list-group-item-action.media {
	margin: 0px;
	border-radius: 0px;
	border: none;
	border-bottom: 1px solid #ececec;
}
p.text-bold-600.m-0 {
	 font-weight: 600;
    font-size: 12px;
	 
}
.media-link p {
	margin-bottom: 0px;
}
.round {
	line-height: 48px;
	color: #ffffff;
	width: 45px;
	height: 45px;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	border-radius: 100%;
	background: #1e88e5;
}
.bg-info.bg-lighten-5 {
	background-color: #f2f7ff !important;
}
.list-group {
	font-size: 13px;
}
.list-group-item {
	padding: 5px 10px;
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
	border-top: 1px solid #f3f3f3;
}
.info-box-number {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.message-box {
	max-height: 345px;
	overflow: auto;
}
.payRwallet h5 {
	border: 1px solid;
	display: inline-block;
	padding: 3px 3px;
	border-radius: 2px;
	color: #f1b12d;
}
.payRwallet h5:hover {
	color: #00a65a;
	background: #fff;
}
.table>thead>tr>th {
	border-bottom: 1px solid #f4f4f4;
	background: #f1f1f1;
}
.utility table th:last-child, .utility table td:last-child {
	text-align: right;
	padding: 5px 10px !important;
}
.utility table td:last-child {
	color: #777;
}
.utility table td:first-child {
	font-weight: 600; 
}
.lastTransaction {
	display: block;
	font-style: italic;
	font-size: 12px;
	color: #c0c5c7;
}
.skin-green .sidebar a {
    border-bottom: 1px solid #eaeaea;
}
.action {
    text-align:center; min-width:120px;
}
    .action a { color:#333;
    }
    .action span {
        padding: 0 5px;
    }
.view a {
    color: #00c1ff;
}
.edit a {
    color: #ff0000;
}
.downline a {
    color: #ffb403;
}
.btn {
    border-radius:0px;padding: 4px 12px;
}
.pr0 {
    padding-right: 0px;
}
.pl0 {
    padding-left: 0px;
}
.form-control:focus {
    border-color: #459845;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.fa-2x {
    font-size:18px;
}
.clear{clear:both;}
.box-body.box-profile {
    padding: 5px 10px;
}
.pad10{padding:10px 0 0;}

.kycinfo span {
display: inline-block;
    padding-right: 50px;
    width: 49%;
    padding: 10px 5px 0px 0;
}
.bagicome {
    padding: 10px 0; border-right:1px solid #d8d8d8; display:block;
} 
.productDet {
    float: left;
    padding: 0px 10px 0 15px;
    line-height: 21px;
    text-align: center;
    width: 100%;
}
.productDet h3 {
    font-weight: 500;
    font-size: 24px;  
}
.productDet h3 i{ font-size:16px;}
.productDet h3 small{font-size:11px;}
.productDet p { 
}
.card-icon {
    margin-top: 4px;
    width: 100%;
    text-align: center; margin-bottom:10px;
}
.cardIco{
    max-width: 50px;
    max-height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #d8d8d8; margin:0px auto;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.10);
    padding: 10px;
}
.cardIco img{width:100%;}
.bagicome_details {
    padding: 10px; 
    display: block;border-bottom:1px solid #d8d8d8; 
}
.bagicome_details:last-child { 
    border-bottom: 0px solid #d8d8d8;
}
.bagicome_details .productDet{ padding-left:0px;    text-align: left;}
.bagicome_details .productDet p{ margin-bottom:0px;}
.bagicome_details h6 {
    font-size: 16px;
}
.bagicome_details i.fa.fa-inr{    font-size: 18px;
}
.bagicome_details .productDet h3 { 
    padding: 2px 0; 
}
.status{ font-style:italic; font-size:11px;}
.font24 {
    font-size: 24px;
}
.content-header {
    position: relative;
    padding: 15px 15px 0px;
}