
@{
    ViewBag.Title = "Comingsoon";
    Layout = "~/Views/Shared/_UIDLayout.cshtml";
}


<div class="row justify-content-center" style="min-height:600px;line-height:600px;">
    <div class="col-lg-4">
        <img src="~/Content/Associate/assets/images/coming-soon.gif" class="img-fluid">
    </div>
</div>



<div class="content">
    <div class="container-fluid">
        <div class="row page-title align-items-center">
            <div class="col-sm-12 col-xl-6">
                <h4 class="mb-1 mt-0">
                </h4>
            </div>
        </div>

        <div class="row justify-content-center" style="min-height:600px;line-height:600px;">
            <div class="col-lg-4">
                <img src="~/Content/Associate/assets/images/coming-soon.gif" class="img-fluid">
            </div>
        </div>

        <!-- end row -->

    </div>
</div>