@{
    ViewBag.Title = "AdvancePaymentRequest";
    Layout = "~/Views/Shared/_AssociateLayout.cshtml";
}
<style>
    .alert-warning {
        background-color: #fcf8e3 !important;
        border-color: #faebcc !important;
    }

    .invalid {
        color: red;
    }

    .fa-eye {
        color: #2196F3 !important;
    }
</style>
<div class="content" ng-app="My-App" ng-controller="My-Ctrl" > 

 
    <div class="modal fade" id="Remark_Modal" role="dialog">
        <div class="modal-dialog" style="border-radius:0px">
            <div class="modal-content" style="border-radius:0px">
                <div class="modal-header" style="border-radius:0px">
                    <h4 class="modal-title">Admin Remark</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="border-radius:0px">
                    <div class="card-body">
                        <label>{{Remarks}}</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AdvancePaymentRequestModal" role="dialog">
        <div class="modal-dialog" style="border-radius:0px">
            <!-- Modal content-->
            <div class="modal-content" style="border-radius:0px">
                <div class="modal-header">

                    <h4 class="modal-title">Advance Payment Request</h4>
                    <button type="button" ng-click="Reset()" class="close" data-dismiss="modal" style="color:red">&times;</button>
                </div>
                <form name="AdvancePaymentForm" id="AdvancePaymentForm" novalidate>
                    <div class="modal-body" style="border-radius:0px">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Request Amount <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" placeholder="Request Amount" name="RequestAmount" ng-model="RequestAmountModel" id="RequestAmount" required tabindex="1" numbers-only onkeypress="return isNumberKey(event)" max="{{LoanEligibility.LoanAmountEligibility}}" ng-blur="FixMinAmount(RequestAmountModel)" />
                                                    <span class="invalid" ng-if="SubmittedAdvancePaymentForm && AdvancePaymentForm.RequestAmount.$invalid">Request Amount must be required  </span>
                                                    @*<span class="invalid" ng-show="SubmittedAdvancePaymentForm && AdvancePaymentForm.RequestAmount.$error.pattern">
                                                    </span>*@
                                                    <span class="invalid" ng-show="AdvancePaymentForm.$error.numbersOnly">Enter the valid (Amount) numeric values only. </span>

                                                    @*<span class="invalid" ng-if="SubmittedAdvancePaymentForm && (RequestAmountModel > LoanEligibility.LoanAmountEligibility)"> Eligible : Rs.{{LoanEligibility.LoanAmountEligibility}}  </span>*@
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Return <span class="text-danger">*</span></label><br />
                                                    <input type="radio" name="ReturnType" id="ReturnType" ng-model="ReturnTypeModel" value="OneTime" required tabindex="2" ng-change="ReestEMIOption(ReturnTypeModel)" /> One Time &nbsp;&nbsp;
                                                    <input type="radio" name="ReturnType" id="ReturnType" ng-model="ReturnTypeModel" value="EMI" required tabindex="3" /> EMI<br />
                                                    <span class="invalid" ng-show="SubmittedAdvancePaymentForm && AdvancePaymentForm.ReturnType.$invalid">Return Type must be required </span>
                                                </div>
                                            </div>

                                            <div class="col-md-12" ng-show="ReturnTypeModel=='EMI'">
                                                <div class="form-group">
                                                    <label>EMI Option <span class="text-danger">*</span></label><br />
                                                    <input type="radio" name="EMIOption" id="EMIOption" ng-model="EMIOptionModel" value="Amount" ng-required="ReturnTypeModel=='EMI'" tabindex="4" /> Amount &nbsp;&nbsp;
                                                    <input type="radio" name="EMIOption" id="EMIOption" ng-model="EMIOptionModel" value="Month" ng-required="ReturnTypeModel=='EMI'" tabindex="5" /> Month<br />
                                                    <span class="invalid" ng-show="SubmittedAdvancePaymentForm && AdvancePaymentForm.EMIOption.$invalid">Return Type must be required </span>
                                                </div>
                                            </div>

                                            <div class="col-md-12" ng-show="EMIOptionModel=='Amount' && ReturnTypeModel=='EMI'">
                                                <div class="form-group">
                                                    <label>Amount<span class="text-danger">* </span></label>
                                                    <input type="number" ng-disabled="RequestAmountModel=='' || RequestAmountModel==null" class="form-control" placeholder="Amount" name="Amount" ng-model="AmountModel" id="Amount" ng-required="EMIOptionModel=='Amount'" min="{{MinRequestAmt}}" max="{{RequestAmountModel}}" onkeypress="return isNumberKey(event)" maxlength="6" ng-blur="Calculate(AmountModel)" />
                                                    <span class="invalid" ng-if="SubmittedAdvancePaymentForm && AdvancePaymentForm.Amount.$invalid">Amount must be required & amount should be between Rs.{{MinRequestAmt}} and Rs.{{RequestAmountModel}} * <br /> </span>


                                                    <table style="width:100%" class="table-responsive table-dark table-bordered" ng-if="AmountEMI.length>0">
                                                        <tr><td>No.</td><td>Amount</td></tr>
                                                        <tr ng-repeat="v in AmountEMI"><td>{{v.Installment}}</td><td>{{v.Amount}}</td></tr>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="col-md-12" ng-show="EMIOptionModel=='Month' && ReturnTypeModel=='EMI'">
                                                <div class="form-group">
                                                    <label>Select Month<span class="text-danger">*</span></label>
                                                    <select class="form-control" ng-disabled="RequestAmountModel=='' || RequestAmountModel==null" name="Months" id="Months" ng-model="MonthsModel" ng-required="EMIOptionModel=='Month'" ng-change="Calculate(MonthsModel)" tabindex="7">
                                                        <option value="">--Select--</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                    <p ng-if="EMI > 0" style="color:green"><b id="EMIShow"> Installment :  {{EMI}}/Months</b></p>
                                                    <span class="invalid" ng-if="SubmittedAdvancePaymentForm && AdvancePaymentForm.Months.$invalid">Months must be required  </span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Payment Date<span class="text-danger">*</span></label>
                                                    <input type="date" class="form-control" placeholder="Recovery Date" name="RecoveryDate" ng-model="RecoveryDateModel" id="RecoveryDate" required tabindex="8" />
                                                    <span class="invalid" ng-if="SubmittedAdvancePaymentForm && AdvancePaymentForm.RecoveryDate.$invalid">Recovery Date must be required  </span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Reason <span class="text-danger">*</span></label>
                                                    <textarea type="text" class="form-control" placeholder="Remark" name="Remark" id="Remark" ng-model="RemarkModel" required tabindex="9"> </textarea>
                                                    <span class="invalid" ng-if="SubmittedAdvancePaymentForm && AdvancePaymentForm.Remark.$invalid">Request Amount must be required  </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" ng-click="Reset()">Reset</button>
                        <button class="btn btn-success" tabindex="5"  ng-click="SubmitRequest(AdvancePaymentForm);SubmittedAdvancePaymentForm=true;">Submit Request</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Start Content-->
    <div class="container-fluid">
        <div class="row page-title">
            <div class="col-md-8">
                <h4 class="mb-1 mt-0">Advance Payment Request  </h4>
                <nav aria-label="breadcrumb" class="float-left mt-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Associate</a></li>
                        <li class="breadcrumb-item"><a href="#">Advance Payment</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Advance Payment Request</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-4 text-left text-md-right ">
                <button @*ng-disabled="LoanEligibility.LoanAmountEligibility<1"*@ type="button" class="btn btn-success btn-sm" style=" margin-top: 3%;" data-toggle="modal" data-target="#AdvancePaymentRequestModal" data-backdrop="static" data-keyboard="false">Payment Request</button><br />
                @*<span style="color:red" ng-if="LoanEligibility.LoanAmountEligibility<1">
                    {{LoanEligibility.Message}}
                </span>*@
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body p-0 pt-10" style="padding-top:15px !important;">
                        <div class="table-responsive" >
                            <table class="table table-striped mb-0" id="tblMemberList">
                                <thead>
                                    <tr>
                                        <th>#Sn.</th>
                                        <th>Request Id/Remark</th>
                                        <th>Request Amount</th>
                                        <th>Return Type</th>
                                        <th>EMI Option</th>
                                        <th>Month</th>
                                        <th>Amount</th>
                                        <th>Request Date</th>
                                        <th>Status</th>
                                        @*<th>Action By</th>*@
                                        <th>Approve Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in AdvanceRequestList">
                                        <td>{{$index+1}}</td>
                                        <td>{{x.RequestId}} <br /><span style="opacity:0.7">{{x.Remark}}</span></td>
                                        <td>{{x.RequestAmt}}</td>
                                        <td>{{x.ReturnType}}</td>
                                        <td>{{x.EMIOption}}</td>
                                        <td>{{x.Month}}</td>
                                        <td>{{x.Amount}}</td>
                                        <td>{{x.RequestDateStr}}</td>
                                        <td>
                                            <span ng-if="x.Status=='Pending'" class="label label-danger">Pending</span>
                                            <span ng-if="x.Status=='Approved'" class="label label-success">Approved</span>
                                            <span ng-if="x.Status=='Rejected'" class="label label-danger">Rejected</span>
                                        </td>
                                        @*<td>{{x.ApprovedRejectBy}}</td>*@
                                        <td>{{x.ApprovedRejectDateStr}}</td>
                                        <td>
                                            @*<button class="btn btn-sm" ng-click="ViewRemark(x.Remark)" title="Remark"><i class="fa fa-eye btn btn-sm btn-default text-primary"></i></button>*@
                                            <button ng-disabled="x.Status=='Pending'"  type="button" ng-click="GetPaymentDetails(x.RequestId)" class="btn btn-sm btn-secondary" title="View Payment Details">Payment Details</button>
                                            <button class="btn btn-sm btn-success"  ng-disabled="x.Status=='Pending'" ng-click="ViewRemark(x.NarrationByAdmin)" title="Admin Remark">Remark</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            @*----------------Payment Details Modal Dialogs-------------*@
            <div class="modal fade" id="Payment_Modal" role="dialog">
                <div class="modal-dialog modal-lg" style="border-radius:0px">
                    <div class="modal-content" style="border-radius:0px">
                        <div class="modal-header" style="border-radius:0px">
                            <h4 class="modal-title pull-left">Payment Details</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <table class="table-centered">
                                <tr>
                                    <td>Payment Date</td>
                                    <td colspan="3">{{PaymentDetails.AdPaymentdateStr}}</td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>{{PaymentDetails.PaymentAmount}}</td>
                                    <td>Payment Mode</td>
                                    <td>{{PaymentDetails.PayMode}}</td>
                                </tr>
                                <tr ng-if="PaymentDetails.PayMode!='Cash'">
                                    <td>Cheque/DD No./Bank Transaction No.</td>
                                    <td>{{PaymentDetails.TransactionNo}}</td>
                                    <td>Cheque/DD Date/Transaction Date</td>
                                    <td>{{PaymentDetails.PaymentDate}}</td>
                                </tr>
                                <tr ng-if="PaymentDetails.PayMode!='Cash'">
                                    <td>Bank Name</td>
                                    <td>{{PaymentDetails.BankName}}</td>
                                    <td>Payment Slip</td>
                                    <td><a href="{{PaymentDetails.ReciptImage}}" target="_blank" style="cursor:pointer"><img class="img-responsive" src="{{PaymentDetails.ReciptImage}}" /></a> </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/angular.min.js"></script>
<script>
    var app = angular.module('My-App', []);
    app.controller('My-Ctrl', function ($scope, $http) {
        $scope.BindAll = function () {
            $http({
                url: '/Associate/AssociateAdvancePayment/GetAllAdvancePaymentRequest',
                method: 'post'
            }).then(function (response) {
                console.log(response.data);
                $scope.AdvanceRequestList = response.data;
            })
        }
        $scope.BindAll();

        $http({
            url: '/Associate/AssociateAdvancePayment/CheckLoanEligibility',
            method: 'post'
        }).then(function (response) {
            console.log(response.data);
            $scope.LoanEligibility = response.data;
        });
        $scope.SubmitRequest = function (from) {
            if (from.$valid) {
                if ($scope.RequestAmountModel < 100 || $scope.RequestAmountModel > $scope.LoanEligibility.LoanAmountEligibility) {
                    alert('Amount should be between Rs.100 and Rs.' + $scope.LoanEligibility.LoanAmountEligibility + '!');
                    return false;
                }
                $http({
                    url: '/Associate/AssociateAdvancePayment/SubmitAdvancePaymentRequest',
                    method: 'post',
                    data: {
                        RequestAmt: $scope.RequestAmountModel,
                        ReturnType: $scope.ReturnTypeModel,
                        EMIOption: $scope.EMIOptionModel,
                        Month: $scope.MonthsModel,
                        Amount: $scope.AmountModel,
                        RecoveryDate: $scope.RecoveryDateModel,
                        Remark: $scope.RemarkModel,
                    }
                }).then(function (response) {
                    if (response.data.Status) {
                        $("#AdvancePaymentForm")[0].reset();
                        $('#AdvancePaymentRequestModal').modal('hide');
                        $scope.EMI = null;
                        $scope.BindAll();
                        alert(response.data.Message);
                    } else {
                        alert(response.data.Message);
                    }
                });
            } else {
                $scope.invalid = true;
            }
        }
        $scope.ViewRemark = function (Remark) {
            if (Remark != null && Remark != '') {
                $scope.Remarks = Remark;
                $('#Remark_Modal').modal('show');
            } else {
                alert('No Remark!!!')
            }
        }
        $scope.MinRequestAmt = 0;
        $scope.FixMinAmount = function (Amt) {
            if (Amt > 0) {
                $scope.MinRequestAmt = Math.round(Amt / 12);
            } else {
                alert('Request amount must be required*');
                $scope.MinRequestAmt = 0;
            }
        }
        $scope.AmountEMI = [];
        $scope.Calculate = function (M) {
            $scope.AmountEMI = [];
            if (M > 0 && $scope.EMIOptionModel == 'Month') {
                $scope.Amount = $scope.RequestAmountModel;
                $scope.EMI = Math.round($scope.Amount / M);
            }
            else if (M > 0 && $scope.EMIOptionModel == 'Amount') {
                var Res = $scope.RequestAmountModel / $scope.AmountModel;
                var last = $scope.RequestAmountModel - ($scope.AmountModel * Res);
                //for (var i = 1; i <= Res; i++) {
                //    $scope.AmountEMI.push({
                //        'Installment': i,
                //        'Amount': $scope.AmountModel
                //    });
                //}
            } else {
                $scope.EMI = null;
                $scope.AmountEMI = [];
            }
        }
        $scope.ReestEMIOption = function (v) {
            if (v == "OneTime") {
                $scope.EMIOptionModel = "";
                $scope.MonthsModel = "";
                $scope.AmountModel = "";
            }
        }

        //$("#AdvancePaymentRequestModal").on("hidden.bs.modal", function () {
        //    $scope.Reset();

        //});
        $scope.Reset = function () {
            $scope.AdvancePaymentForm.$setPristine();
            $("#AdvancePaymentForm")[0].reset();
            $scope.RequestAmountModel = null;
            $scope.ReturnTypeModel = null;
            $scope.EMIOptionModel = null;
            $scope.MonthsModel = null;
            $scope.AmountModel = null;
            $scope.RecoveryDateModel = null;
            $scope.RemarkModel = null;
            $scope.EMI = 0;
            $scope.AmountEMI = [];
        }
        $scope.GetPaymentDetails = function (ReqId) {
            $http({
                url: "/Associate/AssociateAdvancePayment/ViewAdvancePaymenthistory",
                method: 'post',
                data: { ReqId: ReqId }
            }).then(function (response) {
                if (response.data != null && response.data != "") {
                    $scope.PaymentDetails = response.data;
                    console.log($scope.PaymentDetails);
                    $("#Payment_Modal").modal("show");
                }
                else {
                    alert('Data not found!!!');
                }
            })
        }
    });
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
    }

</script>



