

.table th {
    font-weight: 700;
    background: #ebebeb;
}

.pagetitle {
    float: left;
    width: 50%;
}

.pbutton {
    float: right;
    width: 50%;
    text-align: right;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.breadcrumb {
    padding: 0px !important;
    margin: 0px !important;
}

.Sno {
    width: 70px;
    text-align: center;
}

.tdaction {
    width: 150px;
    text-align: center;
}

.mt20 {
    margin-top: 20px;
}
/*.form-div{
    justify-content:center;
    margin:0px 150px;
}
@media(max-width:900){
    .form-div {
        margin:0px
    }
*/
.form-group {
    margin-bottom: 20px;
}
fieldset {
    border: 1px solid #d8d8d8;
    margin-top: 20px;
    padding: 20px;
    border-radius:5px;
}
legend {
    float: none;
    width: auto;
    margin-bottom: 0.5rem;
    font-size: calc(1.275rem + .3vw);
    line-height: inherit;
    font-size: 16px !important;
    padding: 5px; font-weight:bold;
}
.text-right {
    text-align: right;
}