@model LifeOne.Models.Modelreward
@{
    ViewBag.Title = "Rewards and Recogination";
    Layout = "~/Views/Shared/_AssociateLayout.cshtml";
}
<style>
    .alert-warning {
        background-color: #fcf8e3 !important;
        border-color: #faebcc !important;
    }

    .tableincome {
    }

        .tableincome td:first-child {
            background: #fbfbfb;
            max-width: 40%;
        }

        .tableincome td {
            font-weight: bold;
            vertical-align: middle;
            font-size:11px;
            line-height:27px
        }

    .reimg {
        max-width: 50px;
        border: 1px solid #d8d8d8;
        border-radius: 50%
    }

    .tdcenter {
        text-align: center;
    }

    .tdleft {
        text-align: left;
    }

    .tdright {
        text-align: right;
    }

        .tdright span {
            font-size: 8px
        }
    .table td:last-child, .table th:last-child {
        text-align: center;
    }
</style>
<div class="content">
    <div class="content-wrapper-before"></div>
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="ptitle">
                <h4 class="mb-1 mt-0 text-white">Rewards and Recogination</h4>
                <nav aria-label="breadcrumb" class="float-left mt-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Associate-Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#">Loyalty Income</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Rewards and Recogination</li>
                    </ol>
                </nav>
            </div>

        </div>

        @using (Html.BeginForm("RewardsandRecogination", "AssociateReport", FormMethod.Post, new { @id = "form1" }))
        {


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table  table-striped " id="datatables">
                                    <thead>
                                        <tr>
                                            <th>S. No.</th>
                                            <th class="tdcenter">Sales Business Unit</th>
                                            <th class="tdcenter">Car & Rewards</th>
                                            <th class="tdcenter">Tours</th>
                                            <th class="tdcenter">Recognitions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="tdleft">1</td>
                                            <td class="tdcenter">2:04</td>



                                            <td class="tdcenter"><img src="~/Content/Associate/assets/images/Rewards/Celing.jpg" alt="" class="reimg"><br>Celing Fan Or Iron</td>
                                            <td class="tdcenter">-</td>
                                            <td class="tdcenter"><img src="~/Content/Associate/assets/images/Rewards/rank/star-distributer.png" alt="" class="reimg"><br>STAR DISTRIBUTOR</td>
                                        </tr>
                                        <tr>
                                            <td class="tdleft">2</td>
                                            <td class="tdcenter">5:10</td>



                                            <td class="tdcenter">-</td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/domestic.jpg" alt="" class="reimg"><br>2D/1N
                                                DOMESTIC
                                                TOUR
                                            </td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/rank/star-executive.png" alt="" class="reimg"><br>STAR
                                                EXECUTIVE
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdleft">3</td>
                                            <td class="tdcenter"><span class="tdcenter1">15:30</span></td>



                                            <td class="tdcenter">-</td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/leadership.jpg" alt="" class="reimg"><br>
                                                3D/2N
                                                LDP
                                            </td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/rank/divine-star.png" alt="" class="reimg"><br>DEVINE
                                                STAR
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdleft">4</td>
                                            <td class="tdcenter">25:50</td>



                                            <td class="tdcenter">-</td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/mobile.jpg" alt="" class="reimg"><br>
                                                MOBILE/
                                                FRIDGE
                                            </td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/rank/silver-star.png" alt="" class="reimg"><br>SILVER
                                                STAR
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdleft">5</td>
                                            <td class="tdcenter">50:100</td>



                                            <td class="tdcenter">-</td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/bangkok.jpg" alt="" class="reimg"><br>
                                                BANGKOK
                                                TOUR 4D/3N
                                                LKO TO LKO
                                            </td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/rank/gold-star.png" alt="" class="reimg"><br>GOLD
                                                STAR
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdleft">6</td>
                                            <td class="tdcenter">100:200</td>



                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/kwid.jpg" alt="" class="reimg"><br>
                                                KWID CAR DP
                                            </td>
                                            <td class="tdcenter">
                                                <br>
                                                -
                                            </td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/rank/eagle.png" alt="" class="reimg"><br><br>EAGLE
                                                STAR
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdleft">7</td>
                                            <td class="tdcenter">250:500</td>



                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/swift.jpg" alt="" class="reimg"><br>
                                                1 Lac
                                                (Swift Dezire DP)
                                            </td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/dubai-tour.jpg" alt="" class="reimg"><br>
                                                4D/3N
                                                DUBAI
                                                TOUR
                                            </td>
                                            <td class="tdcenter"><img src="~/Content/Associate/assets/images/Rewards/rank/platinium.png" alt="" class="reimg"><br>PLATINUM STAR</td>
                                        </tr>
                                        <tr>
                                            <td class="tdleft">8</td>
                                            <td class="tdcenter">500:1K</td>



                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/thar.jpg" alt="" class="reimg"><br>
                                                Mahindra Thar Dp/
                                                Alkaline
                                                Water Machine
                                            </td>
                                            <td class="tdcenter">-</td>
                                            <td class="tdcenter"><img src="~/Content/Associate/assets/images/Rewards/rank/ruby.png" alt="" class="reimg"><br>RUBY STAR</td>
                                        </tr>
                                        <tr>
                                            <td class="tdleft">9</td>
                                            <td class="tdcenter">1100:2200</td>



                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/scorpio.jpg" alt="" class="reimg"><br>6 Lac
                                                (Mahindra Scorpio DP )
                                            </td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/maldives.jpg" alt="" class="reimg"><br>MALDIVES
                                                TOUR 4D/3N
                                            </td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/rank/pearl.png" alt="" class="reimg"><br>PEARL
                                                STAR
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdleft">10</td>
                                            <td class="tdcenter">2500:5000</td>



                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/Mercedes-Benz.jpg" alt="" class="reimg"><br>10 Lac
                                                (Mercedez Benz DP)
                                            </td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/star.jpg" alt="" class="reimg"><br>STAR CRUISE
                                                WITH COUPLE
                                                5D/4N
                                            </td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/rank/diamond-star.png" alt="" class="reimg"><br>DIAMOND
                                                STAR
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdleft">11</td>
                                            <td class="tdcenter">5K:10K</td>



                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/Jaguar.jpg" alt="" class="reimg"><br>22 Lac
                                                (Jaguar DP)
                                            </td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/australia.jpg" alt="" class="reimg"><br>AUSTRALIA
                                                TOUR
                                                WITH COUPLE
                                                4D/3N
                                            </td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/rank/double-diamond.png" alt="" class="reimg"><br>DOUBLE
                                                DIAMOND
                                                STAR
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdleft">12</td>
                                            <td class="tdcenter">10K:20K</td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/flat.jpg" alt="" class="reimg"><br>3 BHK Flat/
                                                1000 Sqft. Row House
                                            </td>
                                            <td class="tdcenter">-</td>

                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/rank/blue-diamond-star.png" alt="" class="reimg"><br>BLUE DIAMOND
                                                STAR
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdleft">13</td>
                                            <td class="tdcenter">25K:50K</td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/bmw.jpg" alt="" class="reimg"><br>
                                                BMW Car
                                            </td>
                                            <td class="tdcenter">-</td>

                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/rank/black-diamond-star.png" alt="" class="reimg"><br>BLACK DIAMOND
                                                STAR
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdleft">14</td>
                                            <td class="tdcenter">50K:1Lac</td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/defendar.jpg" alt="" class="reimg"><br>
                                                Land Rover Defender
                                            </td>
                                            <td class="tdcenter">-</td>
                                            <td class="tdcenter"><img src="~/Content/Associate/assets/images/Rewards/rank/ambassador.png" alt="" class="reimg"><br>AMBASSADOR</td>
                                        </tr>
                                        <tr>
                                            <td class="tdleft">15</td>
                                            <td class="tdcenter">1Lac:2Lac</td>



                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/BentleyCar.jpg" alt="" class="reimg"><br>
                                                Bentley Car<br>
                                                or<br>
                                                Bunglow 10,000 sqft
                                            </td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/world-tour.jpg" class="reimg" alt="" /><br>
                                                World Tour
                                                With Family*
                                            </td>
                                            <td class="tdcenter">
                                                <img src="~/Content/Associate/assets/images/Rewards/rank/brand-ambassador.png" alt="" class="reimg"><br>BRAND
                                                AMBASSADOR
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        }


    </div>
</div>


